# compiled files
*.pyc
*.mo
*.sql
*.bz2

# the website creates these when it runs
src/data/*
src/.coverage
src/civicboom/public/warehouse
src/civicboom/public/doc

# ini files are stored as diffs from development.ini
src/production.ini
src/demo.ini
src/test.ini

# Auto generated documents
docs/*.json
docs/milestone.html

# files created while package building
debian/*.deb
debian/fs-*
debian/_combined.*
debian/distribute*
debian/*.css

# misc
coverage/
tmp/

# swap and eclipse/aptana project files
*.swp
.project
.pydevproject
.settings/*
.sass-cache
