html {
  color: #021179;
  background: #d2dae9;
}

#CivicboomMobile {
  font-family: sans-serif;
  padding: 0.25em 0.5em;
  /*width: 320px; /*Android Hero = 320x480, HTC Tatoo = 240x320*/
  font-size: large;
}

h1 {
  font-size: larger;
  font-weight: bold;
}


/*-----------------Header------------------*/

.logo {
  max-width: 90%;
}

.flash_message {
  padding: 0.25em;
  background: #ffc7c7;
  color: #5a0404;
  border: 1px dashed red;
  font-weight: bold;
}


/*-----------------Forms------------------*/

fieldset {
  border: 1px solid #929dbd;
  margin: 0.5em 0em;
  padding: 0.5em;
}

legend {padding: 0em 0.5em;}

label       {display: inline-block; width: 7em;}
label:after {content: ':';}

.error {
  color: red;
  font-weight: bold;
  /* border: 1px solid red; */
}
.error-message {
  color: red;
  font-weight: bold;
}
.form_instructions {
  font-size: smaller;
  color: #777;  
}
