/* BODY.c-messages.a-index { */

$msg_padding: 1em;

    .conversation {
        li {
            padding: $msg_padding;
            list-style-type: none;
            clear: both;
            p {
                padding: $msg_padding/2;
            }
            margin-bottom: 1em;
        }
        .sent {
            img {float: left; margin-right: $msg_padding/2; width: 4em;}
            .timestamp {float: right; clear: both;}
        }
        .to {
            img {float: right; margin-left: $msg_padding/2; width: 4em;}
            .timestamp {float: left; clear: both;}
        }
    }
