BODY.c-misc.a-titlepage {
    .title_logo {
        text-align: center;
    
        img {
            width: 100%;
            max-width: 508px;
        }
    }
    
    .title_content {
        text-align: center;
    }
}