BODY.c-misc.a-titlepage {
    h1 {
        text-align: center;
    }
    
    .title_content {
        text-align: center;
    }
}

BODY.c-account.a-signin {
    .signin_title {
        text-align: center;
    }
}
