#CivicboomWidget a {
  text-decoration: none;
  color: inherit;
}
#CivicboomWidget .widget_border {
  border-radius        : 2px;
  -moz-border-radius   : 2px;
  -webkit-border-radius: 2px;
}
#CivicboomWidget .widget_header td {
  vertical-align: top;
  padding: 2px;
  font-weight: bold;
}
#CivicboomWidget .widget_content {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
#CivicboomWidget .action_bar .padding {
  padding: 2px;
}
#CivicboomWidget .widget_content .padding {
  padding: 0.5em;
}
#CivicboomWidget .widget_footer .padding {
  padding: 2px;
}
#CivicboomWidget .widget_header {overflow: hidden;}
#CivicboomWidget .action_bar    {overflow: hidden;}
#CivicboomWidget .widget_footer {overflow: hidden;}