#CivicboomWidget a {
  text-decoration: none;
  color: inherit;
}
#CivicboomWidget .widget_border {
  border-radius        : 2px;
  -moz-border-radius   : 2px;
  -webkit-border-radius: 2px;
}
#CivicboomWidget .widget_header td {
  vertical-align: top;
  padding: 2px;
  font-weight: bold;
}
#CivicboomWidget .widget_content {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
#CivicboomWidget .action_bar .padding {
  padding: 2px;
}
#CivicboomWidget .widget_content .padding {
  padding: 0.5em;
}
#CivicboomWidget .widget_footer .padding {
  padding: 2px;
}
#CivicboomWidget .widget_header {overflow: hidden;}
#CivicboomWidget .action_bar    {overflow: hidden;}
#CivicboomWidget .widget_footer {overflow: hidden;}

/* Widget List */
#CivicboomWidget .widget_content .content_list {
  /* font-size: 110%; */
  margin-bottom: 0.5em;
  clear: both;
}
#CivicboomWidget .widget_content .content_list TD            {vertical-align: top; padding-top: 0.25em; padding-bottom: 0.25em;}
#CivicboomWidget .widget_content .content_list TD .thumbnail {height: 3em; margin-right: 0.25em;}
#CivicboomWidget .widget_content .content_list TD .title     {font-weight: bold;}
#CivicboomWidget .widget_content .content_list TD .creator   {float: right; text-align: right;}

/* Widget Content */

#CivicboomWidget .widget_content .content_preview H1{
  margin-bottom: 0.5em;
}

#CivicboomWidget .widget_content .content_preview IMG {
  margin-right: 0.5em;
}

#CivicboomWidget .widget_content .action .padding {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border-radius        : 2px;
  -moz-border-radius   : 2px;
  -webkit-border-radius: 2px;
}

#CivicboomWidget .widget_content h1 {
  font-size  : 116%;
  font-weight: bold;
}

#CivicboomWidget .widget_content h2 {
  font-size  : 116%;
  font-weight: bold;
  margin-top: 1em;
}
#CivicboomWidget .widget_content .responses TD IMG {
  max-height: 2.5em;
}