30 2 * * * www-data    /opt/cb/bin/cb-task expire_syndication_articles
35 2 * * * www-data    /opt/cb/bin/cb-task remove_ghost_reporters
40 2 * * * www-data    /opt/cb/bin/cb-task assignment_near_expire
45 2 * * * www-data    /opt/cb/bin/cb-task message_clean
