Package: cb-website
Version: VERSION
Architecture: all
Maintainer: Shish <shish@civicboom.com>
Pre-Depends: python, python-cbmisc(>=0.3.18-75),
 python-pylons(>=1.0), python-sqlalchemy(>=0.6), python-webhelpers(>=1.0),
 python-psycopg2, python-imaging, python-boto, python-authkit, python-memcache,
 python-nose, python-coverage, python-dns, python-recaptcha, python-decorator,
 python-lxml, python-pybabel,
 ffmpeg(>=4:0.6), osm2pgsql,
 nginx(>=0.8), memcached,
 postgresql-9.0, postgresql-9.0-postgis
Description: The code for the main civicboom website rewrite
