$cb-lightblue: #4974b8;
$cb-darkblue: #3a4a97;

/* -------------------------------------- */

$button-top: $cb-lightblue;// #eee; /*$cb-lightblue;*/
$button-bot: $cb-darkblue; //#ddd; /*$cb-darkblue;*/
$button-txt: #fff; /*white; 444 */
$button-border: #333; /*#333; ccc*/
$button-radius: 0.2em;

$button-member-top: #eee;
$button-member-bot: #ddd;
$button-member-txt: #444;
$button-member-border: #ccc;

$input-border: $button-border;
$input-radius: $button-radius;

$titlebar-top: #48689D; /*lighten($cb-darkblue, 30%);*/
$titlebar-bot: $titlebar-top;
$titlebar-txt: white;

$actionbar-back: $titlebar-top;

$page-background: lighten($cb-lightblue, 30%);

$frag-border    : none;
$frag-background: lighten($cb-lightblue, 40%);
$frag-radius    : 0.5em;

$frag-action-bar-txt      : black;
$frag-action-bar          : #EEE;

$frag-list-title    : #8aadd7;
$frag-list-title-txt: #666;
$frag-list-top      : #ffffff;
$frag-list-bot      : #ffffff;
$frag-list-txt      : #111;
$frag-list-border   : darken($frag-list-bot  , 15%);
$frag-list-count    : lighten($frag-list-title-txt, 20%);

$profile-description-title  :   #666;
$profile-description-txt    :   #333;
