/* --- Civicboom colours --- */
$cb-lightblue: #4974b8;
$cb-darkblue: #3a4a97;
$cb-lighterblue: lighten($cb-lightblue, 30%);
$cb-light-inactive: #eee;


/* --- Buttons --- */
$button-top: #4974b8; // lighten($cb-lightblue, 10%);// #eee; /*$cb-lightblue;*/
$button-bot: #3e68af; // lighten($cb-darkblue, 20%); //#ddd; /*$cb-darkblue;*/
$button-txt: #fff; /*white; 444 */
$button-border: #333; /*#333; ccc*/
$button-radius: 0.2em;


/* --- Thumbnails --- */
$thumbnail-back: #eee;
$thumbnail-border: #ccc;


/* --- Inputs --- */
$input-border: $button-border;
$input-radius: $button-radius;


/* --- Titlebar --- */
$titlebar-top: #48689D; /*lighten($cb-darkblue, 30%);*/
$titlebar-bot: $titlebar-top;
$titlebar-txt: white;


/* --- Action bar --- */
$actionbar-back: $titlebar-top;


/* --- Page --- */
$page-background: lighten($cb-lightblue, 30%);
$page-border-width: 940px;


/* --- Frags --- */
$frag-border    : none;
$frag-background: lighten($cb-lightblue, 40%);
$frag-radius    : 0.5em;

$frag-action-bar-txt      : black;
$frag-action-bar          : #EEE;


/* --- Frag lists --- */
$frag-list-title    : #8aadd7;
$frag-list-title-txt: #666;
$frag-list-top      : #ffffff;
$frag-list-bot      : #ffffff;
$frag-list-txt      : #111;
$frag-list-border   : darken($frag-list-bot  , 15%);
$frag-list-count    : lighten($frag-list-title-txt, 20%);


/* --- Profile --- */
$profile-description-title  :   #666;
$profile-description-txt    :   #333;


/* --- Misc --- */
$text-colour: #666;
$link-colour: $cb-lightblue;
$link-hover-colour: $cb-lightblue;
//$link-frag-colour: $text-colour; // this makes links hard to see and was only used in one place.


/* --- Adverts --- */
$advert-back: #ff8300;
$advert-back-top: lighten($advert-back, 5%);
$advert-back-bot: darken($advert-back, 5%);
$advert-text: $text-colour;
$advert-link: $link-colour;


/* -- Misc -- */
$cb-orange: #FF8814;
$signup-color: $advert-back-bot;
$cb-grey: #333;
$misc-page-width: 960px;
$misc-page-link: #555;
$misc-page-font: #777;