@import "../common/_palette.scss";
@import "../common/_mixin.scss";

.thumbnail {
    position: relative;
    display: inline-block;
    font-size: 40px;
    overflow: hidden;
    width: 1em;
    height: 1em;
    padding: 0;
    
    img {
      position: absolute;
      max-width: 1em;
    }
}

/* thumbnail orientation classes */
.landscape { 
    max-height: 1em !important;
    max-width: inherit !important;
}

.thumbnail_small {
  	font-size: 20px;
  	background: none;
}

.thumbnail_large { font-size: 80px; }

.thumbnail .icons {
    position: absolute;
    z-index: 2;
}
