@import "../common/_palette.scss";
@import "../common/_mixin.scss";

.thumbnail {
    text-align: center;
    display: inline-block;
    min-width: 1em;
    max-width: 1em;
    min-height: 1em;
    max-height: 1em;
    padding: 0;
    overflow: hidden;
    font-size: 40px;
    vertical-align: middle;
    @include border_radius(0.1em);
    
    img {
        min-width: 95%;
      	max-width: 95%;

        background-color: #eee;
        border: 1px solid #aaa;
        @include border_radius(0.075em);
      	// min-height: 100%;
      	//min-height: 100%;
      
      	/*
      	 * an image inside a div can overflow the div's rounded corners;
      	 * as a hack, give the image rounded corners too (works in chrome,
      	 * at least; FF3.6 doesn't support images with rounded corners,
      	 * FF4 does, not sure about other browsers)
      	 */
      	// @include border_radius(0.075em);

	  }
}

.thumbnail_small {
	font-size: 20px;
	/*border: none;*/
	background: none;
}

.thumbnail_large {
	font-size: 80px;
}

.thumbnail .icons {
    position: absolute;
    z-index: 2;
}

//HTML.ie .thumbnail {border: 1px solid #888;}
//HTML.ie .thumbnail.thumbnail_large {border: 2px solid #888;}
