/*
 * signin page, 3 forms for "log in", "forgotten password" and "register"
 */
BODY.c-account.a-signin .signin {
	text-align: center;
	margin: auto;
	width: 940px;
}
BODY.c-account.a-signin TABLE {
	margin: auto;
}
BODY.c-account.a-signin FORM {
	background: #f6f6f6;
	border: 1px solid #ddd;
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
}
BODY.c-account.a-signin FORM TABLE,
BODY.c-account.a-signin FORM TABLE TBODY {
	width: 100%;
}
BODY.c-account.a-signin FORM TD INPUT {
	border-width: 1px;
}


/* --- stardard full page version --- */

BODY.c-account.a-signin H1 {
	text-align: left;
	margin-bottom: 16px;
}
BODY.c-account.a-signin FORM,
BODY.c-account.a-signin FORM TD {
	padding: 8px;
}

/* --- frag page version --- */
BODY.c-account.a-signin .frag_signin H1 {
	font-size: 100%;
	margin-bottom: 0.5em;
}
BODY.c-account.a-signin .frag_signin FORM,
BODY.c-account.a-signin .frag_signin FORM TD {
	padding: 2px;
}


