
.avatar {
    display: inline-block;
	border: 0.03em solid #888;
    border-radius        : 0.1em;
	-moz-border-radius   : 0.1em;
	-webkit-border-radius: 0.1em;
    
    font-size: 40px;
    widlth: 1em;
    height: 1em;
    
    vertical-align: top;
}


.avatar_small {font-size: 20px;}
.avatar_large {font-size: 80px;}

.avatar .img {
    widlth: 1em;
    height: 1em;
}

