/*----------------------------------------------------------------------------*/
/* Content                                                                    */
/*----------------------------------------------------------------------------*/


.frag_content_edit .form_instuctions {
  font-size: 86%;
  color: #555;
}

.frag_content_edit fieldset        {
  border-top: 1px solid #888;
  margin-top: 1em;
}
.frag_content_edit fieldset legend {
  font-size: 120%;
  font-weight: bold;
  color: #666;
  margin-bottom: 0.5em;
}

.frag_content_edit fieldset fieldset {
  border-top: 1px solid #aaa;
  margin-top: 0.5em;
}
.frag_content_edit fieldset fieldset legend {
  font-size: 110%;
  color: #999;
  margin-bottom: 0.25em;
}



/*----------------------------------------------------------------------------*/
/* Media                                                                      */
/*----------------------------------------------------------------------------*/
 
.frag_content_edit .media_files li {
  padding: 0.5em;
}

.frag_content_edit .media_preview {
  display: inline-block;
  vertical-align: top;
  /* float: left; */
  width: 5em;
  height: 4em;
  box-shadow:         3px 3px 5px black;
  -moz-box-shadow:    3px 3px 5px black;
  -webkit-box-shadow: 3px 3px 5px black;
  margin: 0.5em;
  margin-right: 1em;
  border: 1px solid #666;
}

.frag_content_edit .media_preview_none {
  text-align: center;
}

.frag_content_edit .media_fields {
  display: inline-block;
  width: 350px;
}
.frag_content_edit .media_fields input {
  width: 65%;
  vertical-align: top;
}

/*    
.media_fields .form_field_file {
  font-size: 50%;
}
*/

.frag_content_edit .media_fields label {
  display: inline-block;
  width: 19%;
  overflow: hidden;
}

.frag_content_edit .media_actions {
  display: inline-block;
  vertical-align: top;
}

.frag_content_edit .media_fields .file_remove {
  width: 16px;
  height: 16px;
  border: 0;
  color: transparent;
}
.frag_content_edit .media_fields .form_file_upload {
  width: auto;
}
