/*----------------------------------------------------------------------------*/
/* Selectable Section                                                         */
/*----------------------------------------------------------------------------*/

.section_selectable {border: 1px solid transparent;}
.section_selected   {border: 1px solid black; background-color: #ccc;}
/* .active {display: block !important;} */
