


/*
 * avatars
 */
.avatar {
	margin: auto;
	text-align: center;
}
.avatar .clipper {
	width: 40px;
	height: 40px;
	overflow: hidden;
	position: relative;



	border: 0.25em solid #888;
    border-radius        : 1em;
	-moz-border-radius   : 1em;
	-webkit-border-radius: 1em;
}

.avatar.large .clipper      {width: 80px; height: 80px;}
.avatar.large .clipper .img {width: 80px; height: 80px;}


.avatar .clipper .type,
.avatar .clipper .info,
.avatar .clipper .follow_action {
	position: absolute;
}
.avatar .clipper .type {
	top: 0px;
	right: 0px;
}
.avatar .clipper .info {
    bottom: 0px;
	left  : 2px;
    opacity: 0;
}
.avatar .clipper:hover .info {opacity: 1;}
.avatar .clipper       .img {opacity: 1   ; height: 40px; width:40px;}
.avatar .clipper:hover .img {opacity: 0.25 ;}
.avatar .clipper .follow_action {
    opacity: 0;
	bottom :  0px;
	right  :  2px;
}
.avatar .clipper:hover .follow_action {opacity: 1;}



/*
 * content thumbnails
 */
.thumbnail {
	margin: auto;
	text-align: center;
}
.thumbnail .clipper {
	width: 100px;
	height: 80px;
	overflow: hidden;
	position: relative;
	
	border: 0.25em solid #888;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.thumbnail .clipper .img {opacity: 1   ; width:100px; height: 80px;}

.thumbnail.small .clipper      {width: 60px; height: 50px;}
.thumbnail.small .clipper .img {width: 60px; height: 50px;}

.thumbnail .clipper .icons {
	position: absolute;
    display : block;
	bottom  : 0px;
	right   : 0px;
    /* opacity: 0.75; */
}
/* AllanC - not sure if I like this transparent rollover effect or not ... */
/*
.thumbnail .clipper:hover .icons {
    opacity: 1;
}
*/


