/*
 * icons
 */

/* AllanC
 *  I wanted the developer to be able to write <span class="icon_large approved"> or <span class="icon_small approved">
 *  to select the right icon graphic and size
 *  without the need for nested tags ... is this possible? is the nested tag idea cleaner?
 */

/*
 Icons by: pixel-mixer
 http://pixel-mixer.com/
 http://www.iconarchive.com/category/application/basic-icons-by-pixelmixer.html
 http://www.iconarchive.com/category/application/basic-2-icons-by-pixelmixer.html
*/

.icon_overlay_red {
  display: inline-block;
  height: 1.3em;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  background-color: #F00;
  border-radius        : 0.5em;
  -moz-border-radius   : 0.5em;
  -webkit-border-radius: 0.5em;
}

/* 16x16 icons */
.icon {
	display: inline-block;
    width  : 16px;
	height : 16px;
    vertical-align: middle;
}
.icon span {display: none;}
.icon_date       {background: transparent url('/styles/common/icons16/calendar-icon.png' ) no-repeat;}
.icon_popup      {background: transparent url('/styles/common/icons16/bubble2-icon.png'  ) no-repeat;}
.icon_help       {background: transparent url('/styles/common/icons16/info-icon.png'     ) no-repeat;}
.icon_list       {background: transparent url('/styles/common/icons16/document2-icon.png') no-repeat;}
.icon_approved   {background: transparent url('/styles/common/icons16/cb_approve-icon.png'  ) no-repeat;}
.icon_seen       {background: transparent url('/styles/common/icons16/tick-icon.png'     ) no-repeat;}
.icon_disasociate{background: transparent url('/styles/common/icons16/delete-icon.png'  ) no-repeat;}
.icon_edit_lock {background: transparent url('/styles/common/icons16/lock-icon.png'     ) no-repeat;}
.icon_private   {background: transparent url('/styles/common/icons16/cb_private-icon.png') no-repeat;}
.icon_follow    {background: transparent url('/styles/common/icons16/cb_follow-icon.png') no-repeat;}
.icon_unfollow  {background: transparent url('/styles/common/icons16/cb_unfollow-icon.png') no-repeat;}
.icon_widget    {background: transparent url('/styles/common/icons16/cb_widget-icon.png') no-repeat;}
.icon_invite    {background: transparent url('/styles/common/icons16/cb_invite-icon.png') no-repeat;}
.icon_user      {background: transparent url('/styles/common/icons16/user-icon.png'     ) no-repeat;}
.icon_current_user {background: transparent url('/styles/common/icons16/user-3-icon.png') no-repeat;}
.icon_group     {background: transparent url('/styles/common/icons16/network-icon.png'  ) no-repeat;}
.icon_userid    {background: transparent url('/styles/common/icons16/user-info-icon.png') no-repeat;}
.icon_delete    {background: transparent url('/styles/common/icons16/delete-icon.png'   ) no-repeat;}
.icon_save      {background: transparent url('/styles/common/icons16/save-icon.png'     ) no-repeat;}
.icon_preview   {background: transparent url('/styles/common/icons16/document2-icon.png') no-repeat;}
.icon_close     {background: transparent url('/styles/common/icons16/close-icon.png'    ) no-repeat;}
.icon_close_edit{background: transparent url('/styles/common/icons16/document2-icon.png' ) no-repeat;}
.icon_draft     {background: transparent url('/styles/common/icons16/document-icon.png' ) no-repeat;}
.icon_article   {background: transparent url('/styles/common/icons16/document-icon.png' ) no-repeat;}
.icon_assignment{background: transparent url('/styles/common/icons16/bubble-icon.png'   ) no-repeat;}
.icon_response  {background: transparent url('/styles/common/icons16/document-icon.png' ) no-repeat;}
.icon_rss       {background: transparent url('/styles/common/icons16/rss-icon.png'      ) no-repeat;} /* http://ava7.com/2006/11/rss-graphics.html */
.icon_flag      {background: transparent url('/styles/common/icons16/flag-icon.png'     ) no-repeat;}
.icon_settings  {background: transparent url('/styles/common/icons16/gear-icon.png' ) no-repeat;}
.icon_share     {background: transparent url('/styles/common/icons16/share-icon.png'    ) no-repeat;}
/* Greg icons START */
.icon_message   {background: transparent url('/images/messages_16_gm.png'   ) no-repeat;}
.icon_message_sent   {background: transparent url('/images/message_sent_16_gm.png'   ) no-repeat;}
.icon_notification {background: transparent url('/images/notifications_16_gm.png'   ) no-repeat;}
/* Greg icons END */
.icon_edit      {background: transparent url('/styles/common/icons16/cb_edit-icon.png'   ) no-repeat;}
.icon_boom      {background: transparent url('/styles/common/icons16/cb_logo-icon.png') no-repeat;}
.icon_accept    {background: transparent url('/styles/common/icons16/cb_tick-icon.png'   ) no-repeat;}
.icon_withdraw  {background: transparent url('/styles/common/icons16/cb_delete-icon.png'   ) no-repeat;}
.icon_respond   {background: transparent url('/styles/common/icons16/document-pencil-icon.png'   ) no-repeat;}
.icon_reload    {background: transparent url('/styles/common/icons16/reload-icon.png'   ) no-repeat;}
.icon_search    {background: transparent url('/styles/common/icons16/address-icon.png'   ) no-repeat;}
.icon_map       {background: transparent url('/styles/common/icons16/globe-icon.png'   ) no-repeat;}
.icon_mobile    {background: transparent url('/styles/common/icons16/mobile-icon.png'   ) no-repeat;}
.icon_account_type_plus {background: transparent url('/styles/common/icons16/plus-icon.png') no-repeat;}

.icon_twitter   {background: transparent url('/styles/common/icons16/social/twitter_16.png') no-repeat;}
.icon_facebook  {background: transparent url('/styles/common/icons16/social/facebook_16.png') no-repeat;}
.icon_email     {background: transparent url('/styles/common/icons16/social/email_16.png') no-repeat;}
.icon_linkedin  {background: transparent url('/styles/common/icons16/social/linkedin_16.png') no-repeat;}

.icon_plus      {background: transparent url('/styles/common/icons16/plus-icon.png') no-repeat;}
.icon_up        {background: transparent url('/styles/common/icons16/up-icon.png') no-repeat;}
.icon_down      {background: transparent url('/styles/common/icons16/down-icon.png') no-repeat;}

/* 32x32 icons */
.icon_large {
	display: inline-block;
    width  : 32px;
	height : 32px;
}
.icon_large span {display: none;}
.icon_approved_large  {background: transparent url('/styles/common/icons32/licence-icon.png') no-repeat;}
.icon_edit_lock_large {background: transparent url('/styles/common/icons32/lock-icon.png'   ) no-repeat;}
.icon_private_large   {background: transparent url('/styles/common/icons32/key-icon.png'    ) no-repeat;}
.icon_seen_large      {background: transparent url('/styles/common/icons32/tick-icon.png'   ) no-repeat;}

/* 40x40 icons */
.icon_larger {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.icon_larger span {display: none;}
.icon_messages_larger {background: transparent url('/images/messages.png') no-repeat;}
.icon_messagesent_larger {background: transparent url('/images/message_sent.png') no-repeat;}
.icon_notifications_larger {background: transparent url('/images/notifications.png') no-repeat;}
}
