/*
 * icons
 */

/* AllanC
 *  I wanted the developer to be able to write <span class="icon_large approved"> or <span class="icon_small approved">
 *  to select the right icon graphic and size
 *  without the need for nested tags ... is this possible? is the nested tag idea cleaner?
 */

/*
 Icons by: pixel-mixer
 http://pixel-mixer.com/
 http://www.iconarchive.com/category/application/basic-icons-by-pixelmixer.html
 http://www.iconarchive.com/category/application/basic-2-icons-by-pixelmixer.html
*/

/* 16x16 icons */
.icon {
	display: inline-block;
    width  : 16px;
	height : 16px;
}
.icon span {display: none;}
.icon_approved  {background: transparent url('/styles/web/icons16/licence-icon.png'  ) no-repeat;}
.icon_edit_lock {background: transparent url('/styles/web/icons16/lock-icon.png'     ) no-repeat;}
.icon_private   {background: transparent url('/styles/web/icons16/key-icon.png'      ) no-repeat;}
.icon_seen      {background: transparent url('/styles/web/icons16/tick-icon.png'     ) no-repeat;}
.icon_follow    {background: transparent url('/styles/web/icons16/right-icon.png'    ) no-repeat;}
.icon_unfollow  {background: transparent url('/styles/web/icons16/stop-icon.png'     ) no-repeat;}
.icon_user      {background: transparent url('/styles/web/icons16/user-3-icon.png'   ) no-repeat;}
.icon_group     {background: transparent url('/styles/web/icons16/network-icon.png'  ) no-repeat;}
.icon_userid    {background: transparent url('/styles/web/icons16/user-info-icon.png') no-repeat;}
.icon_account_type_plus {background: transparent url('/styles/web/icons16/plus-icon.png') no-repeat;}


/* 32x32 icons */
.icon_large {
	display: inline-block;
    width  : 32px;
	height : 32px;
}
.icon_large span {display: none;}
.icon_approved_large  {background: transparent url('/styles/web/icons32/licence-icon.png') no-repeat;}
.icon_edit_lock_large {background: transparent url('/styles/web/icons32/lock-icon.png'   ) no-repeat;}
.icon_private_large   {background: transparent url('/styles/web/icons32/key-icon.png'    ) no-repeat;}
.icon_seen_large      {background: transparent url('/styles/web/icons32/tick-icon.png'   ) no-repeat;}
