/*
 * If we have javascript, hide the things that are shown using javascript
 */
HTML.js .hideable {
	display: none;
}
HTML.js .popup {
	display: none;
	position: fixed;
	left: 200px;
	top: 50px;
}

/* for browsers without JS hide sections of the page */
HTML.no-js .hide_if_nojs {display: none;}
HTML.js    .hide_if_js   {display: none;}

/*
 * layout for the web page, starting with the body to cover everything
 *
 * In most browsers body=the whole screen, but in chrome HTML=whole screen
 * and body can be smaller with white borders?
 */
HTML, BODY {
	/* background: #DDD; */
}
/*
 * YUI grids and chrome defaults both override INPUT font,
 * so let's try and over-override it...
 */
HTML, BODY, INPUT {
	font-family: "Helvetica", "Arial", sans-serif !important;
}

/*
 * YUI grids turns off numbering of ordered lists
 */
UL.bulleted LI {
	display: list-item;
	margin-left: 3em;
	list-style: circle;
}
OL LI {
	display: list-item;
	margin-left: 3em;
	list-style: decimal;
}
OL OL LI {
	/*list-style-type: lower-alpha;*/
}


INPUT[type="search"] {
	-webkit-appearance: none; /* chrome thinks it knows best when <input type="search"> */
}
INPUT[type="text"],
INPUT[type="search"],
INPUT[type="email"],
INPUT[type="password"],
SELECT,
TEXTAREA {
	border: 1px solid #2a3a87;

	border-radius        : 0.2em;
	-moz-border-radius   : 0.2em;
	-webkit-border-radius: 0.2em;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
HTML INPUT, HTML TEXTAREA {
	padding: 2px 5px;
}
HTML SELECT {
	padding: 1px 5px;
}


/*----------------------------------------------------------------------------*/
/* Table - Zebra Colours                                                      */
/*----------------------------------------------------------------------------*/

.zebra {
	width: 100%;
	border: 1px solid black;
}
.zebra TH {
	font-weight: bold;
}
.zebra THEAD TR                 {background: #888;}
.zebra TBODY TR:nth-child(odd)  {background: #CCC;}
.zebra TBODY TR:nth-child(even) {background: #EEE;}

.zebra THEAD TR            {border-bottom: 1px solid black;}
.zebra TBODY TR            {border-bottom: 1px solid #999;}
.zebra TBODY TR:last-child {border-bottom: none;}

.zebra THEAD TH,
.zebra TBODY TD {
	padding: 2px;
}


/*----------------------------------------------------------------------------*/
/* Table - Simple name:value forms                                            */
/*----------------------------------------------------------------------------*/

.form TH {
	font-weight: bold;
	text-align: center;
	padding: 2px;
}
.form TD {
	padding: 2px;
}
.form TD INPUT[type="text"],
.form TD INPUT[type="submit"],
.form TD INPUT[type="email"],
.form TD INPUT[type="search"],
.form TD INPUT[type="password"],
.form TD SELECT,
.form TD TEXTAREA {
	width: 100%;
}
.form TD:first-child {
	text-align: right;
	vertical-align: top;
}

/* HACK because for some reason, input fields in TDs overflow :/  */
.form.border TD INPUT[type='text'] {
	width: 97%;
}

.formpage {
	margin: auto;
	margin-top: 8px;
}


/*----------------------------------------------------------------------------*/
/* Form Validation                                                            */
/*----------------------------------------------------------------------------*/

.valid {
	background: #AFA;
}
.invalid {
	background: #FAA;
}
.validation-result {
	display: none;
}


/*----------------------------------------------------------------------------*/
/* Tooltip Hover                                                              */
/* from http://psacake.com/web/jl.asp */
/*----------------------------------------------------------------------------*/

.tooltip {
	position:relative; /*this is the key*/
	z-index:24; background-color:#ccc;
	color:#000;
	text-decoration:none;

	display: inline-block;
	width: 1em;
	height: 1em;
}
.tooltip:hover {
	z-index:25; background-color:#ccc;
}
.tooltip span {
	display: none;
	border-radius        : 5px 5px;
	-moz-border-radius   : 5px;
	-webkit-border-radius: 5px;
	box-shadow        : 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.1);
	-moz-box-shadow   : 0.2em 0.2em rgba(0, 0, 0, 0.1);
}
.tooltip:hover span{ /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:1em; left:1em; width:15em;
	border:1px solid #888;
	background-color: #ccc;
	color:#000;
	text-align: center;
}


/*----------------------------------------------------------------------------*/
/* Flash Message                                                              */
/*----------------------------------------------------------------------------*/

#flash_message {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 3;
	padding: 8px;
	display: none;
	border-bottom: 1px solid black;
    background: #FFA;
    opacity: 0.90;
}
HTML.no-js #flash_message {
    position: static;
    display: block;
}
/* #flash_message.status_ok      {} use default color*/
#flash_message.status_error   {background: #FAA;}
#flash_message.status_invalid {background: #FAA;}



/*----------------------------------------------------------------------------*/
/* openlayers overrides                                                       */
/*----------------------------------------------------------------------------*/

.olMap {
	border: 1px solid gray;
	/*border-radius: 8px 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;*/
}
.olControlAttribution {
	bottom: 0em !important;
	right: 0em !important;
	padding: 2px;
	border-top-left-radius: 6px 6px;
	background: #CCC;
	border-top: 1px solid black;
	border-left: 1px solid black;
	font-size: 10px;
}
.olPopup {
	border: 2px solid gray;
	border-radius: 8px 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 4px;
}
.olLayerGeoRSSClose {
	float: right;
}


/*----------------------------------------------------------------------------*/
/* Common widgets                                                             */
/*----------------------------------------------------------------------------*/

.button {
	display: inline-block;
	background: #4974b8;

	border-radius        : 0.2em;
	-moz-border-radius   : 0.2em;
	-webkit-border-radius: 0.2em;

	border: 1px solid #2a3a87;

	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;

	cursor: pointer;
}

.acceptrequest {
	width: 100%;
	text-align: center;
}
.acceptrequest .button {
	width: 40%;
}

DIV#app .button {
	padding: 0.25em 0.5em;
	/* display: inline-block; */
}

.button,
.title_bar {
	background: #4974b8; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4974b8', endColorstr='#3a4a97'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #4974b8), color-stop(0.81, #3a4a97)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #4974b8, #3a4a97 81%); /* for firefox 3.6+ */
	color: white;
}
.button:hover {
	background: #5984c8; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5984c8', endColorstr='#4a5aa7'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #5984c8), color-stop(0.81, #4a5aa7)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #5984c8, #4a5aa7 81%); /* for firefox 3.6+ */
	color: white;
}
.button:active {
	background: #4974b8; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a4a97', endColorstr='#4974b8'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.19, #3a4a97), color-stop(1.0, #4974b8)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #3a4a97 19%, #4974b8); /* for firefox 3.6+ */
}

.button_large {
  padding: 4px 4px 4px 4px;
  font-size: 125%;
}

.border {
	border: 0.2em solid #4A73B8;
	border-top: none;
}

.link_pointer {
	cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/* Filters                                                                    */
/*----------------------------------------------------------------------------*/

.disabled {
    /* Greyscale disbaled elements */
    /* http://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css */
    filter: url(/styles/filters.svg#desaturate);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";
}


/*----------------------------------------------------------------------------*/
/* Others?                                                                    */
/*----------------------------------------------------------------------------*/

.icon_overlay_red {
	display: inline-block;
	height: 1.3em;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	background-color: #F00;
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
}

.content_short P {
	margin-bottom: 1em;
}
