@import "../common/_palette.scss";

/*
 * If we have javascript, hide the things that are shown using javascript
 */
HTML.js .hideable {
	display: none;
}
HTML.js .popup {
	display: none;
	position: fixed;
	left: 200px;
	top: 50px;
}

/* for browsers without JS hide sections of the page */
HTML.no-js .hide_if_nojs {display: none;}
HTML.js    .hide_if_js   {display: none;}

/*
 * layout for the web page, starting with the body to cover everything
 *
 * In most browsers body=the whole screen, but in chrome HTML=whole screen
 * and body can be smaller with white borders?
 */
HTML, BODY {
	/* background: #DDD; */
}
/*
 * YUI grids and chrome defaults both override INPUT font,
 * so let's try and over-override it...
 */
HTML, BODY, INPUT {
	font-family: "Helvetica", "Arial", sans-serif !important;
}

/*
 * YUI grids turns off numbering of ordered lists
 */
UL.bulleted LI {
	display: list-item;
	margin-left: 3em;
	list-style: circle;
}
OL LI {
	display: list-item;
	margin-left: 3em;
	list-style: decimal;
}
OL OL LI {
	/*list-style-type: lower-alpha;*/
}


INPUT[type="search"] {
	-webkit-appearance: none; /* chrome thinks it knows best when <input type="search"> */
}
.mceEditor.defaultSkin table.mceLayout,
INPUT[type="text"],
INPUT[type="date"],
INPUT[type="search"],
INPUT[type="email"],
INPUT[type="password"],
SELECT,
TEXTAREA {
	border: 1px solid $input-border;

	border-radius        : $input-radius;
	-moz-border-radius   : $input-radius;
	-webkit-border-radius: $input-radius;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.mceEditor.defaultSkin table.mceLayout tr.mceFirst td {
	border-top: none;
}
HTML INPUT, HTML TEXTAREA {
	padding: 2px 5px;
}
HTML SELECT {
	padding: 1px 5px;
}


/*----------------------------------------------------------------------------*/
/*                                Title Styles                                */
/*----------------------------------------------------------------------------*/

// important because YUI tries to override these -_-
H1,H2,H3,H4 {
    font-weight: bold !important;
    margin: 0.25em 0em !important;
}
H1 {
    font-size: 150% !important;
}


/*----------------------------------------------------------------------------*/
/* Table - Zebra Colours                                                      */
/*----------------------------------------------------------------------------*/

.zebra {
	width: 100%;
	border: 1px solid black;

	TH {
		font-weight: bold;
	}
	THEAD TR                 {background: #888;}
	TBODY TR:nth-child(odd)  {background: #CCC;}
	TBODY TR:nth-child(even) {background: #EEE;}

	THEAD TR            {border-bottom: 1px solid black;}
	TBODY TR            {border-bottom: 1px solid #999;}
	TBODY TR:last-child {border-bottom: none;}

	THEAD TH,
	TBODY TD {
		padding: 2px;
	}
}


/*----------------------------------------------------------------------------*/
/* Table - Simple name:value forms                                            */
/*----------------------------------------------------------------------------*/

.form {
	TH {
		font-weight: bold;
		text-align: center;
		padding: 2px;
	}
	TD {
		padding: 2px;
		&:first-child {
			text-align: right;
			vertical-align: top;
		}
	}

	INPUT[type="text"],
	INPUT[type="submit"],
	INPUT[type="email"],
	INPUT[type="search"],
	INPUT[type="password"],
	SELECT,
	TEXTAREA {
		width: 100%;
	}
}


/*----------------------------------------------------------------------------*/
/* Form Validation                                                            */
/*----------------------------------------------------------------------------*/

.valid {
	background: #AFA;
}
.invalid {
	background: #FAA;
}
.validation-result {
	display: none;
}


/*----------------------------------------------------------------------------*/
/* Tooltip Hover                                                              */
/* from http://psacake.com/web/jl.asp */
/*----------------------------------------------------------------------------*/

.tooltip {
	position:relative; /*this is the key*/
	z-index:24; background-color:#ccc;
	color:#000;
	text-decoration:none;

	display: inline-block;
	width: 1em;
	height: 1em;
}
.tooltip:hover {
	z-index:25; background-color:#ccc;
}
.tooltip span {
	display: none;
	border-radius        : 5px 5px;
	-moz-border-radius   : 5px;
	-webkit-border-radius: 5px;
	box-shadow        : 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.1);
	-moz-box-shadow   : 0.2em 0.2em rgba(0, 0, 0, 0.1);
}
.tooltip:hover span{ /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:1em; left:1em; width:15em;
	border:1px solid #888;
	background-color: #ccc;
	color:#000;
	text-align: center;
}


/*----------------------------------------------------------------------------*/
/* Flash Message                                                              */
/*----------------------------------------------------------------------------*/

#flash_message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0px;
	z-index: 3;
	padding: 8px;
	display: none;
	border-bottom: 1px solid black;
	text-align: center;
    background: #FFA;
    opacity: 0.90;
}
HTML.no-js #flash_message {
    position: static;
    display: block;
}
#flash_message.status_ok      {background: #FFA;}
#flash_message.status_error   {background: #FAA;}
#flash_message.status_invalid {background: #FAA;}



/*----------------------------------------------------------------------------*/
/* openlayers overrides                                                       */
/*----------------------------------------------------------------------------*/

.olMap {
	border: 1px solid $input-border;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.olControlAttribution {
	bottom: 0em !important;
	right: 0em !important;
	padding: 2px;
	border-top-left-radius: 6px 6px;
	background: $page-background;
	border-top: 1px solid $input-border;
	border-left: 1px solid $input-border;
	font-size: 10px;
}
.olPopup {
	border: 2px solid gray;
	border-radius: 8px 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 4px;
}
.olLayerGeoRSSClose {
	float: right;
}


/*----------------------------------------------------------------------------*/
/* Common widgets                                                             */
/*----------------------------------------------------------------------------*/

.button, .ui-button.ui-state-active {
	display: inline-block;
	background: $button-top;

	border-radius        : $button-radius;
	-moz-border-radius   : $button-radius;
	-webkit-border-radius: $button-radius;
	
	border: 1px solid $button-border;

	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;

	cursor: pointer;
}

.ui-button.ui-state-active span.ui-button-text {
  color: white !important;
}

.jqui-radios .ui-button {
  display: inline-block;
  background: white;

  border-radius        : $button-radius;
  -moz-border-radius   : $button-radius;
  -webkit-border-radius: $button-radius;
  
  border: 1px solid $button-border;

  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 90%;

  cursor: pointer;
}

.buttonesque_link {
  display: inline-block;
  color: #000;

  border-radius        : $button-radius;
  -moz-border-radius   : $button-radius;
  -webkit-border-radius: $button-radius;

  border: 1px solid transparent;

  text-align: center;
  text-decoration: underline !important;
  font-size: 90%;

  cursor: pointer;
}

.acceptrequest {
	width: 100%;
	text-align: center;
}
.acceptrequest .button {
	width: 40%;
}

DIV#app .button {
	padding: 0.25em 0.5em;
	/* display: inline-block; */
}

.title_bar {
	/*background: $titlebar-top; /* for non-css3 browsers */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$titlebar-top}', endColorstr='#{$titlebar-bot}'); /* for IE */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, $titlebar-top), color-stop(0.81, $titlebar-bot)); /* for webkit browsers */
	/*background: -moz-linear-gradient(top, $titlebar-top, $titlebar-bot 81%); /* for firefox 3.6+ */
	color: $titlebar-txt;
}

.button, .ui-button.ui-state-active {
	background: $button-top; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$button-top}', endColorstr='#{$button-bot}'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, $button-top), color-stop(0.81, $button-bot)); /* for webkit browsers */
	background: -moz-linear-gradient(top, $button-top, $button-bot 81%); /* for firefox 3.6+ */
	color: $button-txt;
	
						-moz-box-shadow: 1px 1px 1px #666;
						-webkit-box-shadow: 1px 1px 1px #666;
						box-shadow: 1px 1px 1px #666;
}
.button:hover {
	background: $button-top + #101010; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$button-top + #101010}', endColorstr='#{$button-bot + #101010}'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, $button-top + #101010), color-stop(0.81, $button-bot + #101010)); /* for webkit browsers */
	background: -moz-linear-gradient(top, $button-top + #101010, $button-bot + #101010 81%); /* for firefox 3.6+ */
	color: $button-txt;
}
.button:active {
	background: $button-top; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$button-bot}', endColorstr='#{$button-top}'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.19, $button-bot), color-stop(1.0, $button-top)); /* for webkit browsers */
	background: -moz-linear-gradient(top, $button-bot 19%, $button-top); /* for firefox 3.6+ */
}

.button_large {
  padding: 4px 4px 4px 4px;
  font-size: 125%;
}

.border {
	border: 0.2em solid #4A73B8;
	border-top: none;
}

.link_pointer {
	cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/* Filters                                                                    */
/*----------------------------------------------------------------------------*/

.disabled {
    /* Greyscale disbaled elements */
    /* http://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css */
    filter: url(/styles/filters.svg#desaturate);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";
}


/*----------------------------------------------------------------------------*/
/* Others?                                                                    */
/*----------------------------------------------------------------------------*/

.icon_overlay_red {
	display: inline-block;
	height: 1.3em;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	background-color: #F00;
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
}

.content_short P {
	margin-bottom: 1em;
}


/*----------------------------------------------------------------------------*/
/*                          Content Mouse Over Help                           */
/*----------------------------------------------------------------------------*/

.mo-help {
	position: relative;

	.mo-help-r, .mo-help-l {
		font-size: 12px;
		display: none;
		position: absolute;
		z-index: 100;
		width: 200px;
		background-color: #FFF;
		padding: 12px;
		border: 1px solid #2a3a87;
		text-align: left;
		bottom: 3em;
		text-align: center;
		
		opacity: 0.8;
		filter:alpha(opacity=8);
		
		border-radius        : 0.2em;
		-moz-border-radius   : 0.2em;
		-webkit-border-radius: 0.2em;
		
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		-moz-box-shadow: 0px 0px 15px #888;
		-webkit-box-shadow: 0px 0px 15px #888;
		box-shadow: 0px 0px 15px #888;
	}
	
	.mo-help-l {
	    right: 0em;
	}
	
	.mo-help-r {
	    left: 0em;
	}
	
	.mo-help-r:hover, .mo-help-l:hover {
	    display: none;
	}
}

.mo-help:hover {
    .mo-help-r, .mo-help-l {
	display: block;
    }
}
