/*
 * If we have javascript, hide the things that are shown using javascript
 */
HTML.js .hideable {
	display: none;
}
HTML.js .popup {
	display: none;
	position: fixed;
	left: 200px;
	top: 50px;
}

/*
 * layout for the web page, starting with the body to cover everything
 *
 * In most browsers body=the whole screen, but in chrome HTML=whole screen
 * and body can be smaller with white borders?
 */
HTML, BODY {
	background: #DDD;
}

/*
 * common styles
 */
.gradscroll {
	overflow: scroll;
	background: url("/styles/web/grad-top.png") repeat-x top left, url("/styles/web/grad-bottom.png") repeat-x bottom left;
}


.zebra {
	width: 100%;
	border: 1px solid black;
}
.zebra TH {
	font-weight: bold;
}
.zebra THEAD TR                 {background: #888;}
.zebra TBODY TR:nth-child(odd)  {background: #CCC;}
.zebra TBODY TR:nth-child(even) {background: #EEE;}

.zebra THEAD TR            {border-bottom: 1px solid black;}
.zebra TBODY TR            {border-bottom: 1px solid #999;}
.zebra TBODY TR:last-child {border-bottom: none;}

.zebra THEAD TH,
.zebra TBODY TD {
	padding: 2px;
}


/*
 * flash message
 */ 
#flash_message {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
	padding: 8px;
	display: none;
	border-bottom: 1px solid black;
}
#flash_message.status_ok {background: #FFA;}
#flash_message.status_error {background: #FAA;}

/*
 * avatars
 */
.avatar {
	margin: auto;
	text-align: center;
}
.avatar .clipper {
	width: 40px;
	height: 40px;
	overflow: hidden;
	position: relative;
	border: 1px solid black;
}
.avatar .clipper .type,
.avatar .clipper .info,
.avatar .clipper .follow_action {
	position: absolute;
}
.avatar .clipper .type {
	top: 0px;
	right: 0px;
}
.avatar .clipper .info {
	display: block;
    width  : 16px;
	height : 10px;
	/*background: #AAA;*/
	background: transparent url('/styles/web/icons/card-icon.png') no-repeat;
    bottom: 0px;
	left  : 2px;
	opacity: 0;
	padding: 2px;
	border-radius: 6px;
}
/*
http://www.iconarchive.com/category/application/toolbar-icons-by-shlyapnikova.html
 - http://www.iconarchive.com/icons/shlyapnikova/toolbar/32/card-icon.png
http://www.iconarchive.com/show/basic-icons-by-pixelmixer/tick-icon.html
 - right-icon.png
 - stop-icon.png
*/
.avatar .clipper:hover .info {opacity: 1;}

.avatar .clipper       .img {opacity: 1   ; height: 40px; width:40px;}
.avatar .clipper:hover .img {opacity: 0.5 ;}

.avatar .clipper .follow_action {
	display: block;
	height : 16px;
	width  : 16px;
    opacity: 0;
	bottom :  0px;
	right  :  2px;
    /*
	bottom: 2px;
	right: 2px;
	padding: 2px;
	border-radius: 6px;
	*/
}

.avatar .clipper .follow   {background: transparent url('/styles/web/icons/right-icon.png') no-repeat;}
.avatar .clipper .unfollow {background: transparent url('/styles/web/icons/stop-icon.png' ) no-repeat;}

.avatar .clipper:hover .follow_action {opacity: 1;}

/*
 * openlayers overrides
 */
.olControlAttribution {
	bottom: 0em !important;
	right: 0em !important;
	padding: 2px;
	border-top-left-radius: 6px 6px;
	background: #CCC;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
