/*
 * If we have javascript, hide the things that are shown using javascript
 */
HTML.js .hideable {
	display: none;
}
HTML.js .popup {
	display: none;
	position: fixed;
	left: 200px;
	top: 50px;
}

/*
 * layout for the web page, starting with the body to cover everything
 *
 * In most browsers body=the whole screen, but in chrome HTML=whole screen
 * and body can be smaller with white borders?
 */
HTML, BODY {
	background: #DDD;
}

/*
 * common styles
 */
.gradscroll {
	overflow: scroll;
	background: url("/styles/web/grad-top.png") repeat-x top left, url("/styles/web/grad-bottom.png") repeat-x bottom left;
}


.zebra {
	width: 100%;
	border: 1px solid black;
}
.zebra TH {
	font-weight: bold;
}
.zebra THEAD TR                 {background: #888;}
.zebra TBODY TR:nth-child(odd)  {background: #CCC;}
.zebra TBODY TR:nth-child(even) {background: #EEE;}

.zebra THEAD TR            {border-bottom: 1px solid black;}
.zebra TBODY TR            {border-bottom: 1px solid #999;}
.zebra TBODY TR:last-child {border-bottom: none;}

.zebra THEAD TH,
.zebra TBODY TD {
	padding: 2px;
}

.form TH {
	font-weight: bold;
	text-align: center;
}
.form TD {
	padding: 2px;
}
.form TD INPUT[type="submit"] {
	width: 100%;
}


/* from http://psacake.com/web/jl.asp */
.tooltip {
	position:relative; /*this is the key*/
	z-index:24; background-color:#ccc;
	color:#000;
	text-decoration:none;

	display: inline-block;
	width: 1em;
	height: 1em;
}
.tooltip:hover {
	z-index:25; background-color:#ccc;
}
.tooltip span {
	display: none;
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.1);
}
.tooltip:hover span{ /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:1em; left:1em; width:15em;
	border:1px solid #888;
	background-color: #ccc;
	color:#000;
	text-align: center;
}


/*
 * flash message
 */

#flash_message {
	position: fixed;
	top: 17px;
	left: 0px;
	right: 0px;
	z-index: 3;
	padding: 8px;
	display: none;
	border: 1px solid black;
    background: #FFA;
    opacity: 0.90;
}
HTML.no-js #flash_message {
    position: static;
    display: block;
}
/* #flash_message.status_ok      {} use default color*/
#flash_message.status_error   {background: #FAA;}
#flash_message.status_invalid {background: #FAA;}






/*
 * openlayers overrides
 */
.olControlAttribution {
	bottom: 0em !important;
	right: 0em !important;
	padding: 2px;
	border-top-left-radius: 6px 6px;
	background: #CCC;
	border-top: 1px solid black;
	border-left: 1px solid black;
	font-size: 10px;
}
.olPopup {
	border: 2px solid gray;
	border-radius: 8px 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 4px;
}
.olLayerGeoRSSClose {
	float: right;
}


/*
 * Article comments, coloured by relationship
 */
.comment TD {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 8px;
}
.other_comment TD {
	background: #FDF;
}
.self_comment TD {
	background: #FFD;
}
.author_comment TD {
	background: #DFD;
}
