/*
 * about page, lots of text with a couple of custom bits
 */
BODY.c-misc.a-about .cols {
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid black;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid black;
}

/*
 * press page, a list of articles each containing TIME, A, BLOCKQUOTE
 */
BODY.c-misc.a-press #app {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	padding: 16px;
	-moz-column-width: 450px;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid black;
	-webkit-column-width: 450px;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid black;
}
BODY.c-misc.a-press ARTICLE {
	margin: 32px;
}
BODY.c-misc.a-press ARTICLE TIME {
	display: block;
	border-bottom: 1px solid black;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
BODY.c-misc.a-press ARTICLE IMG {
	display: block;
	margin: auto;
	max-width: 100%;
}

/*
 * terms & conditions / privacy policy are both WALL OF TEXT
 */
BODY.c-misc.a-terms #app, BODY.c-misc.a-privacy #app {
	margin-left: auto;
	font-size: 0.75em;
	margin-right: auto;
	max-width: 1000px;
	padding: 16px;
	-moz-column-width: 450px;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid black;
	-webkit-column-width: 450px;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid black;
}

/*
 * credits, a list of Ps with HRs between them
 */
BODY.c-misc.a-credits #app {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	padding: 16px;
	-moz-column-width: 300px;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid black;
	-webkit-column-width: 300px;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid black;
}
BODY.c-misc.a-credits ARTICLE DIV {
	margin-bottom: 2em;
}
BODY.c-misc.a-credits ARTICLE DIV SPAN {
	display: block;
	border-bottom: 1px solid black;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

/*
 * signin page, 3 forms for "log in", "forgotten password" and "register"
 */
BODY.c-account.a-signin .cols {
	-moz-column-count: 3;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid black;
	-webkit-column-count: 3;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid black;
}
BODY.c-account.a-signin .cols SECTION {
	height: 100px;
}
