/*
 * about page, lots of text with a couple of custom bits
 */
BODY.c-misc.a-about P {
	margin: 1em 0px;
}
BODY.c-misc.a-about ARTICLE {
	margin: 32px;
}
BODY.c-misc.a-about ARTICLE TIME {
	display: block;
	border-bottom: 1px solid black;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
BODY.c-misc.a-about ARTICLE IMG {
	display: block;
	margin: auto;
	max-width: 100%;
}

BODY.c-misc.a-about ARTICLE.cols {
	max-width: 1000px;
	margin: auto;
	-moz-column-width: 450px;
	-moz-column-gap: 1em;
	-moz-column-rule: 1px solid black;
	-webkit-column-width: 450px;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 1px solid black;
}

BODY.c-misc.a-about ARTICLE.legal {
	font-size: 0.75em;
}

BODY.c-misc.a-about ARTICLE.open-source DIV {
	margin-bottom: 2em;
}
BODY.c-misc.a-about ARTICLE.open-source DIV SPAN {
	display: block;
	border-bottom: 1px solid black;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
