/*
 * about page, lots of text with a couple of custom bits
 */
BODY.c-misc.a-about P {
	margin: 1em 0px;
}
BODY.c-misc.a-about ARTICLE {
	margin: 32px;
	padding-top: 32px;
	padding-bottom: 32px;
}
BODY.c-misc.a-about ARTICLE TIME {
	/*display: block;*/
	border-bottom: 1px solid black;
	/*font-size: 1.5em;*/
	margin-bottom: 0.5em;
}

BODY.c-misc.a-about ARTICLE.col {
	/*max-width: 940px;
	margin: auto;*/
	margin-left: 256px;
	margin-right: 256px;
}

BODY.c-misc.a-about ARTICLE.legal OL {
	font-size: 0.75em;
}
BODY.c-misc.a-about ARTICLE.legal OL OL {
	font-size: 1em;
}

BODY.c-misc.a-about ARTICLE.open-source DIV {
	/*margin-bottom: 2em;*/
}
BODY.c-misc.a-about ARTICLE.open-source DIV SPAN {
	/*display: block;*/
	border-bottom: 1px solid black;
	/*font-size: 1.5em;*/
	margin-bottom: 0.5em;
	font-weight: bold;
}

.toc {
	position: absolute;
	top: 128px;
	right: 64px;
	text-align: center;
}
.toc LI A {
	display: block;
	width: 128px;
	margin: 4px;
}
.toc A {
	color: white;
}
