
.thumbnail {
    display: inline-block;
	border: 0.04em solid #ccc;

	/*
	 * avatar image outer edge is clipped tighter than the border's
	 * inner edge, so some background colour slips into the crack.
	 */
	background: #ccc;

    border-radius        : 0.1em;
	-moz-border-radius   : 0.1em;
	-webkit-border-radius: 0.1em;
    
    font-size: 40px;
    widlth: 1em;
    height: 1em;
    
    min-width : 1em;
    min-height: 1em;
    max-width : 1em;
    max-height: 1em;
    overflow: hidden;

    vertical-align: top;

	position: relative;
}

.thumbnail_small {
	font-size: 20px;
	/*border: none;*/
	background: none;
}

.thumbnail_large {
	font-size: 80px;
}

.thumbnail .img {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 1em;
	height: 1em;

	/*
	 * an image inside a div can overflow the div's rounded corners;
	 * as a hack, give the image rounded corners too (works in chrome,
	 * at least; FF3.6 doesn't support images with rounded corners,
	 * FF4 does, not sure about other browsers)
	 */
	border-radius        : 0.075em;
	-moz-border-radius   : 0.075em;
	-webkit-border-radius: 0.075em;
}

.thumbnail .icons {
    position: absolute;
    z-index: 2;
}

HTML.ie .thumbnail {border: 1px solid #888;}
HTML.ie .thumbnail.thumbnail_large {border: 2px solid #888;}
