@import "../common/_palette.scss";
@import "../common/_mixin.scss";

HTML.no-js {
    #view-media {
        display: none;
    }
}

HTML.js {
    .jcarousel-skin-content-media {
        width: 80%;
        height: 150px;
        margin: 1em auto 1.5em auto;
        background-color: lighten($cb-lightblue, 40%);
        border: 1em solid $cb-lightblue;
        border-bottom: 3em solid $cb-lightblue;
        @include border_radius(0.5em);
        @include drop_shadow(1px, 1px, 1px, #333);
        
        .jcarousel-clip {
            overflow: hidden;
        }
            
        .preview_item {
            height: 100%;
            
            table {
                width: 100%;
                
                .media_type {
                    width: 30px;
                }
            }
            
            .type_icon {
                height: 25px;
                width: 25px;
            }
        
            a, img {
                height: 150px;
            }
        }
        
        .jcarousel-item {
            .item_details {
                padding-top: 3px;
                color: white;
                text-align: left;
                width: 100%;
            }
        }
    
        .hidden {
            display: none;
        }
        
        .jcarousel-next {
            cursor: pointer;
            position: absolute;
            right: 1em;
            top: 65px;
        }
        
        .jcarousel-prev {
            cursor: pointer;
            position: absolute;
            left: 1em;
            top: 65px;
        }
        
        .item_preview {
            position: relative;
            overflow: hidden;
            
            .play_icon {
                position: absolute;
                left: 125px;
                top: 25px;
                filter: alpha(opacity=50);
                opacity: 0.5;
                
                img {
                    height: 100px;
                    width: 100px;
                }
            }
        }
        
    }
}
