@import "../common/_palette.scss";
@import "../common/_mixin.scss";

BODY.c-misc.a-titlepage {
  
    .signup_btn {
        text-align: center;
        display: table;
        background-color: $signup-color;
        margin-top: 2em;
        border: 1px solid darken($signup-color, 20%);
        
        &:hover {
            cursor: pointer;
        }
        
        * {
            color: #fff !important;
            text-shadow: darken($signup-color, 10%) 0px -1px 2px;
            
            &:hover {
                color: #fff !important;
            }
        }
        
        .link_wrapper{
            padding: 0.5em 1em;
            display: table-cell;
            vertical-align: middle;
            border-top: 1px solid lighten($signup-color, 25%);
            border-bottom: 1px solid darken($signup-color, 25%);
        
            .main {
                font-size: 200%;
            }
            
            .tag {
                font-size: 125%;
            }
        }
    }
    
    header {
        height: 50px;
    }
    
    .misc_header {
        position: relative;
        height: 50px;
        width: 100%; //$misc-page-width;
        margin: auto;
        
        .logo_img {
            position: absolute;
            left:  5px;
            height: 70%;
            top: 15%;
        }
        
        .beta_overlay {
            position: absolute;
            left: 11.45em;
            top: 70%;
            color: black;
            font-size: 12px;
            font-weight: bold;
        }

        .links {
            position: absolute;
            right: 1em;
            bottom: 0;
            padding-bottom: 0.5em;
            font-size: 14px;
            
            a {
                margin-left: 1em;
            }
        }
    }
    
    .banner {
        position: relative;
        //background-image: url('/images/misc/titlepage/banner_gradient.png');
        background-repeat: no-repeat;
        //background-color: $cb-lightblue;
        height: 400px;
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 1em;
        // @include drop_shadow(0, 2px, 3px, #333);
        
        .text {
            position: absolute;
            top: 20%; //14%;
            right: 3%;
            height: 100%;
            max-width: 52%;
            width: 52%;
            text-align: left;
            text-shadow: rgba(0, 0, 0, .25) 0 -1px 1px;
            
            .headline {
                color: $cb_orange;
                font-size: 240%;
                padding-bottom: 0.5em;
                font-weight: normal !important;
                line-height: 120%;
            }
            
            .tagline {
                font-size: 130%;
                line-height: 140%;
            }
        }
        
        .graphic {
            position: absolute;
            height: 85%;
            margin: 7.5% auto 7.5% 3%;
        }
    }
    
    .cols {
        position: relative;
        width: 100%;
        
        .col {
            vertical-align: top;
            width: 33%;
            display: inline-block;
            margin: 0;
            
            .col-img {
                width: 100%;
                height: 100px;
                margin: auto;
                text-align: center;
                border-bottom: 1px solid #999;
              
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            
            .android_btn {
                position: relative;
                width: 90%;
                margin: 1em auto 0 auto;
                height: 75px;
                @include border_radius(0.5em);
                @include drop_shadow(0, 1px, 2px, #666);
                @include horiz_gradient(#ddd, #ccc);
                overflow: hidden;
                
                &:hover {
                    @include horiz_gradient(#eee, #ddd);
                    
                    img {
                        @include transparency(90);
                    }
                }
                
                img {
                    @include transparency(70);
                    position: absolute;
                    left: 5%;
                    top: 10%;
                    height: 135%;
                }
                
                h3 {
                    position: absolute;
                    top: 40%;
                    width: 60%;
                    right: 0;
                }
            }
        
            h1 {
                font-size: 150%;
                padding-top: 0.5em;
            }
            
            ul {
                font-size: 110%;
                padding-top: 0.5em;
                padding-right: 2em;
                line-height: 160%;
                list-style-type: none;
                
                li {
                    margin-left: 0.5em;
                    background-image: url('/images/li-point-blue.png');
                    background-repeat: no-repeat;
                    background-position: 0px 5px; 
                    padding-left: 14px; 
                }
            }
        }
        
    }
}