.inviteform {
	.frag_left_col {
		float: left;
		width: 50%;
		height: 100%;
	}
	input.search-name {
        width: 8.75em;
	}
	.frag_right_col {
		float: right;
		width: 50%;
		height: 100%;
	}
	.frag_col {
		position: relative;
		height: 100%;
	}
	.invite_header {
		height: 10em;
	}
	.invite_area {
		word-wrap: break-word;
	}
	.button_white {
	  color: #000;
		background: transparent;
		border: 0;
	}
	.button_white.disabled {
	 color: #999;
	}
	.button.disabled {
		border: 1px solid #545d87;
		background: #8397b8; 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8397b8', endColorstr='#687097'); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #8397b8), color-stop(0.81, #687097));
		background: -moz-linear-gradient(top, #8397b8, #687097 81%); 
		color: white;
	}
	.pad_top {
		padding-top: 3px;
	}
	.align_right {
		text-align: right;
	}
	.invite_button {
		clear:both;
		text-align: center;
	}
	.invite_area li .avatar {
		float: left;
	}
	.invite_area li .action {
		float: right;
	}
	.invite_area li .data {
		padding-left: 25px;
		margin-right: 40px;
	}
	.invite_area li {
		display: inline-block;
		width: 100%;
	}
	.invite-controls div {
		float: right;
	}
}
