@import "../common/_palette.scss";
@import "../common/_mixin.scss";

/* big grey stylish footer THIS IS NOT IN THE RIGHT PLACE >_<*/
.misc_footer {
    width: 100%;
    min-height: 5em;
    background-color: $cb-grey;
    background-image: url('/images/misc/titlepage/footer_shadow.png');
    background-repeat: repeat-x;
    background-position: top;
    margin-top: 1em;
    text-align: center;
    position: relative;
    font-size: 13px;
    
    .copyright {
        position: absolute;
        bottom: 0.5em;
        right: 0.5em;
        font-size: 85%;
    }
        
    .footer_wrapper{
        width: $misc-page-width;
        margin: auto;
        text-align: left;
        background-color: transparent;
        position: relative;
        
        .col {
            width: 10em;
            min-height: 10em;
            vertical-align: top;
            color: #fff;
            display: inline-block;
            background-color: lighten($cb-grey, 10%);
            @include border_radius(0.5em);
            margin: 2em 1em 2em 0;
            padding: 0.5em 1em 1em 1.5em;
            text-shadow: darken($cb-grey, 40%) 1px 1px 1px;
            
            .icon16 {
                display: inline-block;
            }
            
            a {
                display: block;
                color: #bbb;
                margin-bottom: 0.25em;
                vertical-align: middle;
                text-decoration: none;
                
                &:hover {
                    color: $cb-orange;
                }
            }
            
            h2 {
                font-size: 120%;
                padding-bottom: 0.5em;
            }
            
            p {
                
            }
            
            .company_logo {
                width: 100%;
                min-height: 70px;
                cursor: pointer;
            }
            
            #nextweb {
                background-image: url('/images/misc/titlepage/logos/thenextweb-grey.png');
                background-repeat: no-repeat;
                background-position: center top;
                
                &:hover {
                    background-image: url('/images/misc/titlepage/logos/thenextweb-color.png');
                }
            }
            
            .android_btn {
                position: relative;
                width: 100%;
                margin: 1em auto 0 auto;
                height: 65px;
                @include border_radius(0.5em);
                @include drop_shadow(0, 1px, 2px, #666);
                @include horiz_gradient(#ddd, #ccc);
                overflow: hidden;
                color: #333;
                text-shadow: none;
                
                &:hover {
                    @include horiz_gradient(#eee, #ddd);
                    
                    img {
                        @include transparency(90);
                    }
                }
                
                img {
                    @include transparency(70);
                    position: absolute;
                    left: 5%;
                    top: 35%;
                    height: 100%;
                }
                
                h3 {
                    position: absolute;
                    top: 10%;
                    bottom: 0;
                    width: 50%;
                    right: 0;
                }
            }
        }
        
        .filler {
            min-height: 0;
            width: auto;
            vertical-align: top;
          
            h2 {
                display: inline-block;
            }
        }
    }
}

/*
$header-height: 40px;

header {
    height: $header-height;
}

.misc_header {
    position: relative;
    height: $header-height;
    width: 100%; //$misc-page-width;
    margin: auto;
    
    .logo_img {
        position: absolute;
        max-height: 80%;
        top: 10%;
        left: 1em;
    }

    .links {
        position: absolute;
        right: 1em;
        bottom: 0;
        padding-bottom: 0.5em;
        font-size: 14px;
        
        a {
            margin-left: 1em;
        }
    }
    
    $persona-width: 15em;
    
    #persona_switch {
        right: 0;
        position: absolute;
      
        .drop_down {
            // display: none;
        }
      
        .persona_selector {
            height: $header-height;
            background-color: #fff;
            display: block;
            
            .messages {
                height: $header-height;
                display: inline-block;
                
                &:hover {
                    background-color: #eee;
                }

                * {
                    display: inline-block;
                    vertical-align: middle;
                }
                
                .image_icon {
                    padding-right: 8px;
                    padding-left: 8px;
                    margin-top: 8px;
                }
            }
            
            .persona {
                height: $header-height;
                // width: $persona-width;
                padding-right: 1em;
                cursor: pointer;
                display: inline-block;
                
                &:hover {
                    background-color: #eee;
                }
                
                * {
                    display: inline-block;
                    vertical-align: middle;
                }
                
                .avatar {
                    margin-top: 8px;
                    padding-left: 8px;
                    border-left: 1px solid #666;
                    height: ($header-height - 15px);
                }
                
                .persona_title {
                    margin-top: 11px;
                    padding-left: 3px;
                    padding-right: 3px;
                }
                
                .drop_icon {
                    margin-top: 11px;
                }
            }
        }
    }
}
*/
/* END >_< ABLASLAHTPONWATPOMTWA */

BODY.c-misc {
    color: $misc-page-font;
    /*background-color: #fff;

    footer {
        display: none;
    }*/
    
    p {
        line-height: 200%;
    }
    
    .misc_header, .content_wrapper, .footer {
        a {
            color: $misc-page-link;
            text-decoration: none;
            
            &:hover {
                color: $cb-orange;
            }
        }
    }

    /* page content wrapper */
    .content_wrapper {
        position: relative;
        width: $misc-page-width;
        margin: auto;
        padding: 2em 0 0 0;
    }

    /* misc/about page content */
    .content {
        vertical-align: top;
        display: inline-block;
        width: 80%;
    }

    /* misc/about page navigation */
    .nav {
        vertical-align: top;
        display: inline-block;
        width: 15%;
        text-align: left;
        padding-left: 4%;
        
        a {
            display: block;
            margin-bottom: 0.4em;
            font-size: 125%;
        }
        
        p {
            padding-bottom: 1em;
        }
    }

}

/* --- Get Widget ---- */

.get_widget ul li {
    list-style: disc;
    margin-left: 2em;
}
label.norm {
    font-weight: normal;
}

table.upgrade_plans {

  $thin-border: 1px solid gray;
  $hilt-border: 2px solid $button-top;
  $cell-width:  5em;
  $head-font:   120%;
  
  tbody tr:nth-child(odd) {
    background: lighten($cb-lightblue, 40%);
  }
  
  .larger {
    font-size: 120%;
  }
  
  td {
    padding-left: 1.5em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  
  thead {
    td {
      border-top: $thin-border;
      border-bottom: $thin-border;
      font-weight: bold;
      font-size: $head-font;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
    }
      .hilight {
          border: $hilt-border;
      }
  }
  
  tbody {
    border: $thin-border;
    td.title {
      border-right: $thin-border;
    }
    td.item {
        width: $cell-width;
    }
    .hilight {
      border-left: $hilt-border;
      border-right: $hilt-border;
    }
  }
  
  tfoot {
    .foot{
      td {
        border-top: $thin-border;
        border-bottom: $thin-border;
        font-weight: bold;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
      .hilight {
        border: $hilt-border;
      }
    }
    .upgrade{
      td {
        padding : 0.2em;
        text-align: center;
        .button {
          //width: $cell-width * $head-font;
        }
      }
    }
  }
}

/*
 * about page, lots of text with a couple of custom bits
 */
.error {
  color: #F00;
  font-weight: bold;
}

.settinghint {
  color: #F00;
  font-weight: bold;
}

/*
  GregM: Need to move this upgrade stuff to new file
*/

.centre {
  text-align: center;
}
.ital {
  font-style: italic;
}
.buttonpad {
  height: 1em;
}
.buttongreen {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius        : 0.2em;
  -moz-border-radius   : 0.2em;
  -webkit-border-radius: 0.2em;
  border: 1px solid #2a3a87;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background: #3B0; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B0', endColorstr='#2A0'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #3B0), color-stop(0.81, #2A0)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #3B0, #2A0 81%); /* for firefox 3.6+ */
  color: white;
}
.payplanwrapper {
  position: relative;
  width: 40em;
  height: 30em;
}
.payplanholder {
  position: absolute;
  width: 40em;
  text-align: left;
}
.payplan {
  border-radius        : 0.4em;
  -moz-border-radius   : 0.4em;
  -webkit-border-radius: 0.4em;
  margin-top: 4em;
  float: left;
  width: 10em;
  border: 3px solid #4A73B8;
  margin-left: 1em;
  margin-bottom: 1em;
  height: 20em;
}
.payplan .plantitle {
  text-align: center;
  padding: 0.5em 0.25em 0.5em 0.25em;
  font-size: 130%;
  border-bottom: 3px solid #4A73B8;
  font-weight: bold;
}
.payplan.active .plantitle {
  font-size: 160%;
}
.payplan .plantitle .subtitle {
  display: block;
  font-size: 60%;
  font-weight: normal;
  top: -0.5em;
}
.payplan.active {
  margin-top: 1em;
  width: 14em;
  height: 26em;
  background-color: #EEE;
}
.payplan .planpoints ul.points li {
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: 0.1em solid gray;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}
.payplan.active .planpoints ul.points li {
  font-size: 120%;
  color: #500;
}
.payplan .planpoints {
  text-align: center;
}
.payplan .planpoints .buttons {
  display: inline-block;
  position: absolute;
  width: 10em;
  height: 3.5em;
  text-align: center;
  bottom: 5em;
  vertical-align: bottom;
}
.payplan.active .planpoints .buttons {
  bottom: 4em;
  width: 14em;
}

.payplan .ideal .idealpop {
  display: none;
  position: absolute;
  top: -14.5em;
  height: 14.5em;
  width: 100%;
}

.payplan .ideal .idealpop .pop {
  background-color: #FFF;
  width: 95%;
  margin: auto;
  height: 90%;
  @include border_radius(0.4em);
  border: 2px solid #4A73B8;
  text-align: left;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.payplan .ideal .idealpop .pop ul li {
  list-style: square inside;
}

.payplan .ideal:hover .idealpop {
  display: block; 
}

BODY.c-misc.a-new_article.u-user {
  div.new-article {
    .button {
      width: 6em;
    }
    div.na-padleft {
      padding-left: 2em;
    }
    .na-orgs {
      .mo-help-l {
        float: left;
        bottom: -0em;
        left: -19em;
        filter: none;
        opacity: 1;
        width: 20em;
      }
      li {
        padding: 0.5em 0;
        display: table;
        width: 30.45em;
      }
      .fr {
        padding-bottom: 0.75em;
      }
      .na-org-text {
        display: inline-block;
        display: table-cell;
        vertical-align: middle;
        width: 18em;
      }
    }
    .na-other {
      .fr {
        padding-top: 0.25em;
      }
    }
    .pr {
      position: relative;
    }
    .cb {
      clear: both;
    }
  }
}

BODY.c-misc.a-what_is_a_hub {
    .frag_whitewrap {
	background: white;
	border-radius: 16px;
	padding: 16px;
	margin: 1em;
	width: 800px;
	margin: auto;
	color: $text-colour;
	
	.create_hub {
	    width: 10em;
	    border: 1px solid #999;
	    padding: 1em 3em 1em 3em;
	    margin: 1em auto 0 auto;
	    @include border_radius(0.5em);
	    font-size: 130%;
	    text-align: center;
	}
	
	img {
	    max-width: 300px;
	}
    }
}

BODY.c-misc.a-how_to {
    .layout {
        background: white;
        border-radius: 16px;
        padding: 16px;
        margin: 1em;
        width: 1000px;
        margin: auto;
    }

    .getting_started {
        margin: 2em 0 2em 0;
        text-align: center;
    }
    
    .step {
        font-size: 300%;
        text-align: center;
    }
}
