/*----------------------------Popups------------------------------------------*/
.popup_content {
    /* width: 45em; */
    display: block;
    padding: 0 2em 0 2em;
    color: black;
    text-shadow: none;
    
    .wrapper {
        width: 40em;
    
        .information {
            padding-bottom: 2em;
        }
    }
    
    .information {
        width: 30em;
        padding: 2em 0 0 0;
        margin: 0;
        float: left;
        
        div {
            // rmax-width: 30em;
        }
        
        .popup-icon {
            float: left;
            margin-right: 2em;
        }

        .popup-title {
          
          .popup-persona {
              // vertical-align: center;
              height: 32px;
              cursor: pointer;
              vertical-align: middle;
              padding-bottom: 6px;
          
              img {
                width: 32px;
                height: 32px;
                padding-bottom: 7px;
                vertical-align: middle;
                display: inline-block;
              }
            }
            font-size: 200%
        }
        
        .popup-message {
            font-size: 140%;
            margin: 1em 0 1em 0;
            
            ul, li {
              padding-left: 0em;
              margin-left: 2em;
              margin-right: 1em;
            }
        }
        
        .popup-tag-line {
            font-size: 250%;
        }
    }

    .button {
      font-size: 115%;
      //width: 8em;
      vertical-align: middle;
      padding: 10px !important;
      margin-right: 1em;
    }
    
    p {
      margin-top: 0.5em;
    }

    .popup-icons {
        float: left;
        height: 100%;
        width: 7em;
        margin-left: 1em;
        padding-top: 2.5em;
        
        img {
            width: 100%;
            display: block;
        }
    }
    
    .popup-actions {
        clear: both;
        padding-bottom: 1em;
        text-align: center;
        
        .button {
            padding: 1em;
            margin-bottom: 1em;
        }
    }
}

/* specific pop up rules */
#link_embed {
    @include border_radius(0.5em);
    background-color: #fff;
    padding: 1em;
    width: 500px;

    DIV {
       display: inline-block;
       vertical-align: top;
       width: 245px;
       
       IMG {
         max-width: 100%;
         margin-left: 5px;
       }
    }
}

.media_popup_content {
    text-align: center;
    padding: 1em;
    
    .caption, .credit {
        text-align: left;
        padding-top: 0.5em;
        max-width: 600px;
        word-wrap: break-word;
    }
    
    img {
        max-width: 600px;
        max-height: 400px;
    }
}


.popup_hidden {
  display: none !important;
}
