.frag_content div.details {
	padding-top: 8px;
}

.frag_content_edit {
	div.comments table {
		width: 100%;
	}
	label {
		display: inline-block;
		font-weight: bold;
		padding-top: 6px;
		padding-bottom: 3px;
	}
	textarea.editor {
		width: 100%;
		height: 250px;
	}
	span.padded {
		display: inline-block;
		width: 50pt;
	}
	input.detail {
		width: 100pt;
	}
	div.padded {
		padding-top: 3px;
	}
	.paddedbottom {
		padding-bottom: 3px;
	}
	legend .smaller {
		font-size: 80%
	}
	.bold td {
		font-weight: bold;
	}
	
  .setting-disabled {
    background-color: #DDD;
  }
	
  .upgrade {
      position: relative;
      display: inline-block;
      width: 13em;
      font-size: 90%;
      font-weight: normal;
    }
	
}
