.frag_content div.details {
  padding-top: 8px;
}
.frag_content div.comments table {
  width: 100%;
}
.frag_content label {
  display: inline-block;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 3px;
}
.frag_content textarea.editor {
  width: 90%;
  height: 250px;
}
.frag_content span.padded {
  display: inline-block;
  width: 50pt;
}
.frag_content input.detail {
  width: 100pt;
}
.frag_content div.padded {
  padding-top: 3px;
}
.frag_content .paddedbottom {
  padding-bottom: 3px;
}
.frag_content legend .smaller {
  font-size: 80%
}

.frag_content .bold td {
  font-weight: bold;
}
