.frag_content div.details {
  padding-top: 8px;
}
.frag_content_edit div.comments table {
  width: 100%;
}
.frag_content_edit label {
  display: inline-block;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 3px;
}
.frag_content_edit textarea.editor {
  width: 100%;
  height: 250px;
}
.frag_content_edit span.padded {
  display: inline-block;
  width: 50pt;
}
.frag_content_edit input.detail {
  width: 100pt;
}
.frag_content_edit div.padded {
  padding-top: 3px;
}
.frag_content_edit .paddedbottom {
  padding-bottom: 3px;
}
.frag_content_edit legend .smaller {
  font-size: 80%
}

.frag_content_edit .bold td {
  font-weight: bold;
}
