/*----------------------------------------------------------------------------*/
/* Fragment Lists
/*----------------------------------------------------------------------------*/

#frag_containers .frag_container .frag_data {
	.frag_list {
		font-size: 88%;

		border: 0.1em solid #ccc;
		border-radius        : 0.2em;
		-moz-border-radius   : 0.2em;
		-webkit-border-radius: 0.2em;
		
		margin-top: 1.5em;

		background: #eee; /* for non-css3 browsers */
		filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.19, #eee), color-stop(1.0, #fff)); /* for webkit browsers */
		background: -moz-linear-gradient(top, #eee 19%, #fff); /* for firefox 3.6+ */

		/* --------------------------
		   Frag list Headings (for lists in content and member frags)
		   -------------------------- */
		h2 {
			margin: 0em;
			background-color: #ccc;
			padding : 0.25em;

		}
		h2 .count {
			padding: 0.25em;
			float: right;
		}

		.list_actions {
			float: right;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}


	/* --------------------------
	   Frag list contents
	   -------------------------- */
	.frag_list_contents {
		padding       : 0.5em;
		padding-bottom: 0em; /* see rule below for each element adding there own bottom padding */

		td, li, ul {
			padding-bottom: 0.5em;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		td {
			vertical-align: top;
		}

		.link_more {
			float: right;
			background: #ccc;
			
			padding: 0.2em;
			
			position: relative;
			top: -0.75em;
			
			border-radius        : 0.2em;
			-moz-border-radius   : 0.2em;
			-webkit-border-radius: 0.2em;
		}

		/* .frag_list li .avatar {font-size: 20px;} */


		/*------------------------------ Content -------------------------------------*/
		.content .content_title {
			padding-left: 0.25em;
			padding-top : 0.25em;
		}


		/*------------------------------ Members -------------------------------------*/
		.member li {
			display: inline;
		}


		/*----------------------------- Messages -------------------------------------*/
		.messages {
			li {
				margin-bottom: 0.5em;
				/*border-bottom: 1px solid #ccc;*/
			}
			.unread      {background-color: #eee;}
			.source      {float: left;}
			.target      {float: left;}
			.subject     {font-weight: bold; background-color: #ccc;}
			.content a   {font-weight: bold;}
			.icon_delete {float: right;}
		}
	}
	
	/* --- Sponsored Feature Content --- */
	.sponsored_content {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		min-height: 15em;
		
		img {
			height: 13em;
			margin: 1em 1em 1em 0;
		}
		
		.title {
		
		}
		
		.content {
		
		}
	}
}
