@import "../common/_palette.scss";
@import "../common/_mixin.scss";

#frag_containers .frag_container {
    /* --- hack because grab/approve guiance isn't inside a guidance class --- */
    a {
        .int, .guidance_text, .guidance_title, .guidance_content {
            color: white;
            &:hover {
                color: white;
            }
        }
    }
}

/*---------------------------Frag Member Guidence------------------------------*/
#frag_containers .frag_container .guidance {
    color: white;
    text-shadow: -1px -1px 1px darken($advert-back, 10%);
    $advert-height: 2em;
    min-height: $advert-height;
    position: relative;
    padding: 0.75em;
    margin: 1em 0 0 0;
    text-align: left;
    font-size: 110%;
    font-weight: bold;

    background-color: $advert-back;
    @include horiz_gradient($advert-back-top, $advert-back-bot);
    @include border_radius(0.3em);
    @include drop_shadow(1px, 1px, 1px, #666);
    
    &:hover {
        @include horiz_gradient(lighten($advert-back-top, 5%), lighten($advert-back-bot, 5%));
    }
    
    .popup_content {
          font-size: 80%;
    }
    
    a {
        color: white;
        right: 0;
        
        &:hover {
             text-decoration: underline;
             
             p {
                text-decoration: inherit;
             }
        }
    }

    
    .int {
        float: left;
        font-size: 300%;
        padding-right: 10px;
        height: 100%;
    }

    .content {
        // margin-right: 10px;
        float: left;
        display: block;
        width: 100%;
        
        .guidance_title {
            font-size: 130%;
        }
        
        .guidance_content, ul {
            font-size: 90%;
        }
        
        ul {
            list-style: circle outside;
            
            li {
                padding-left: 8px;
                
            }
        }
    }
    
    .long {
        min-width: 80%;
        max-width: 82.5%;
    }
    
    .small {
        max-width: 75%;
    }

    .hide_guidance_submit {
        float: right;
        padding-left: 10px;
    }
    
    table {
          width: 100%;
          
          td {
              vertical-align: top;
          }
    }
}
