#frag_containers {
  overflow-x : scroll;
  white-space: nowrap;  
}

#frag_containers .frag_container {
  display    : inline-block;
  white-space: normal;
  width      : 500px;
}

#frag_containers .frag_container .action_bar {
  background-color: green;
  height: 30px;
  overflow: hidden;
}

#frag_containers .frag_container .frag_content {
  background-color: #888;
  overflow-x: none;
  overflow-y: scroll;
  height:350px;
}

#frag_containers .frag_container .frag_content .frag_left_col {
  background-color: yellow;
  width: 290px;
  float: left;
}

#frag_containers .frag_container .frag_content .frag_right_col {
  background-color: red;
  width: 190px;
  float: right;
}