/*----------------------------------------------------------------------------*/
/* Fragment Lists
/*----------------------------------------------------------------------------*/

#frag_containers .frag_container .frag_data {
	.frag_list {
		font-size: 88%;

		border: 0.1em solid #ccc;
		border-radius        : 0.2em;
		-moz-border-radius   : 0.2em;
		-webkit-border-radius: 0.2em;
		
		margin-top: 1.5em;

		background: #eee; /* for non-css3 browsers */


		/* --------------------------
		   Frag list Headings (for lists in content and member frags)
		   -------------------------- */
		h2 {
			margin: 0em;
			background-color: #ccc;
			padding : 0.25em;

		}
		h2 .count {
			padding: 0.25em;
			float: right;
		}

		.list_actions {
			float: right;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}


	/* --------------------------
	   Frag list contents
	   -------------------------- */
	.frag_list_contents {
		padding       : 0.5em;
		padding-bottom: 0em; /* see rule below for each element adding there own bottom padding */

        .thumbnail       {font-size: 45px;} /* AllanC - humm ... horrible hack to just notch up the size of the thumbnail in content lists to match the text. This not a long term solution */
        .thumbnail_small {font-size: 20px;} /* dont override small size ... jesus this is a HACK */

		td, li, ul {
			padding-bottom: 0.5em;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		td {
			vertical-align: top;
		}

		.link_more {
			float: right;
			background: #ccc;
			
			padding: 0.2em;
			
			position: relative;
			top: -0.75em;
			
			border-radius        : 0.2em;
			-moz-border-radius   : 0.2em;
			-webkit-border-radius: 0.2em;
		}

		/* .frag_list li .avatar {font-size: 20px;} */


		/*------------------------------ Content -------------------------------------*/
		.content_details {
            width: 100%;
            
            p {
                padding-top : 0.25em;
                padding-left: 0.4em;
                color: #666;
            }
            
            .content_title {
                color: inherit;
            }
        }


		/*------------------------------ Members -------------------------------------*/
		.member li {
			display: inline;
		}


		/*----------------------------- Messages -------------------------------------*/
		.messages {
			li {
				margin-bottom: 0.5em;
				/*border-bottom: 1px solid #ccc;*/
			}
			.unread      {background-color: #eee;}
			.source      {float: left;}
			.target      {float: left;}
			.subject     {font-weight: bold; background-color: #ccc;}
			.content a   {font-weight: bold;}
			.icon_delete {float: right;}
		}
	}
	
	/* --- Sponsored Feature Content --- */
	.sponsored_content {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		min-height: 15em;
		
		.thumbnail {
			min-width: 125px;
			max-width: 125px;
			min-height: 125px;
			max-height: 125px;
			margin: 0.25em;
			
			img {
				height: 100%;
			}
		}
		
		.content_title {
			text-align: center;
			font-size: 120%;
			top: 0.25em;
			
			a {
				display: inline;
				float: left;
				margin-top: 5px;
				margin-left: 10px;
			}
			
			.creator-avatar {
				display: inline;
				float: right;
				margin-right: 5px;
				width: 40px;
				height: 40px;
				
				img, .thumbnail, .thumbnail_small {
					width: 40px;
					height: 40px;
				}
			}
		}
		
		.content {
			text-align: left;
			min-width: 305px;
			max-width: 305px;
			color: #333;
			font-size: 105%;
			word-wrap: break-word;
			
			p {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		
		.content-info {
		}
		
		.content-info div {
			display: inline;
			float: left;
			margin: 0 5px 5px 15px;
		}
	}
}
