#frag_containers {
	.frag_container {
		.what-next, .why-respond {
		    color: #666;
		    margin: 1.5em auto 0 0.5em;
		    font-size: 105%;
		}
		
		.featured-mobile {
			width: 100%;
			font-size: 120%;
			text-align: center;
			font-weight: bold;
			padding-top: 15px;
			
			a {
				color: #333;
				text-decoration: none;
			}
		}
	
		.frag_content {
			.frag_top_row {
				h1 {
					color: #333;
					font-size: 200%;
				}
				
				.content_text {
					color: #666;
					font-size: 125%;
					margin-bottom: 0.5em;
				}
				
				.olMap {
					margin-bottom: 1em;
				}
				
				.acceptrequest {
					font-size: 125%;
					display: inline;
					
					table {
						text-align: center;
						width: 100%;
						
						.button {
							color: #000;
							width: 250px;
							padding: 10px;
						}
						
						.tip {
							font-size: 85%;
							color: #666;
							width: 75px;
						}
						
						a {
							color: inherit;
						}
					}
				}
				
				.details {
					color: #666;
					display: inline;
				
					.separator {
						padding-left: 1em;
					}
				}
			}
			
			.frag_left_col {
				width: 66%;
				float: left;
			}
		
			.frag_right_col {
				width: 33%;
				float: right;
				
				.license {
					text-align: right;
				}
			}
			
			.content_box {
				.media {
					text-align: center;
				}
			}
			
			.content_text {
				word-wrap: break-word;
			}
		
			/*----------------------------Content Comments--------------------------------*/
		
			.new-comment {
				display: none;
			}
		
			.comments-option {
				color: #666;
			}
		
			.show-comments {
				font-weight: bold;
				text-decoration: underline;
				cursor: pointer;
			}
		
			.comments {
				table {
					width: 100%;
				}
				h2 {
					font-size: 150%;
				}
				td {
					vertical-align: top;
					color: #444;
					padding-bottom: 1em;
				}
				textarea {
					width: 100%;
					min-height: 60px;
				}
				input {
					width: 100%;
				}
		
				.comment_avatar {
					width: 40px;
				}
		
				.comment {
					padding-left: 1em;
		
					.comment_by {
						font-weight: bold;
						margin-bottom: 0.25em;
					}
					.comment_content {
						font-size:  88%;
						line-height: 1em;
		
						/* stop over-wide comments */
						max-width: 228px;
						word-wrap: break-word;
					}
					//could look into quotes properly - http://monc.se/kitchen/129/rendering-quotes-with-css
					//.comment_content:before {font-size: 120%; font-weight: bold; content: open-quote;}
					//.comment_content:after  {font-size: 120%; font-weight: bold; content: close-quote;}
				}
			}
		}
	}
}

HTML.no-js #frag_containers .frag_container .frag_content {
	.new-comment {
		visibility: visible;
	}

	.comments-option {
		display: none;
	}
}


/*--------------------------Content Mouse Over Help--------------------------*/

.mo-help {
	position: relative;

	.mo-help-r {
		display: none;
		position: absolute;
		z-index: 100;
		width: 200px;
		background-color: #FFF;
		padding: 12px;
		border: 1px solid #2a3a87;
		text-align: left;
		right: 0em;
		bottom: 2.5em;
		text-align: center;
		
		opacity: 0.8;
		filter:alpha(opacity=8);
		
		border-radius        : 0.2em;
		-moz-border-radius   : 0.2em;
		-webkit-border-radius: 0.2em;
		
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		-moz-box-shadow: 0px 0px 15px #888;
		-webkit-box-shadow: 0px 0px 15px #888;
		box-shadow: 0px 0px 15px #888;
	}
}

.mo-help:hover .mo-help-r {
    display: block;
}
