/*----------------------------------------------------------------------------*/
/* Fragment Lists
/*----------------------------------------------------------------------------*/

#frag_containers .frag_container .frag_data .frag_list {
    font-size: 88%;

    border: 0.1em solid #ccc;
    border-radius        : 0.2em;
    -moz-border-radius   : 0.2em;
    -webkit-border-radius: 0.2em;
    
    margin-top: 1em;

    background: #eee; /* for non-css3 browsers */
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.19, #eee), color-stop(1.0, #fff)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #eee 19%, #fff); /* for firefox 3.6+ */

}

#frag_containers .frag_container .frag_data .frag_list .icon {

}

#frag_containers .frag_container .frag_data .frag_list .frag_list_contents {
    padding       : 0.5em;
    padding-bottom: 0em; /* see rule below for each element adding there own bottom padding */
}
.frag_list_contents td,
.frag_list_contents li,
.frag_list_contents ul {
    padding-bottom: 0.5em;
}


#frag_containers .frag_container .frag_data .frag_list h2 {
    margin: 0em;
    background-color: #ccc;
    padding : 0.25em;

}
#frag_containers .frag_container .frag_data .frag_list h2 .count {
    padding: 0.25em;
    float: right;
}


#frag_containers .frag_container .frag_data .frag_list a {
    text-decoration: none;
    color: inherit;
}


#frag_containers .frag_container .frag_data .frag_list td {
    vertical-align: top;
}


#frag_containers .frag_container .frag_data .frag_list .link_more {
    float: right;
    background: #ccc;
    
    padding: 0.2em;
    
    position: relative;
    top: -0.75em;
    
    border-radius        : 0.2em;
    -moz-border-radius   : 0.2em;
    -webkit-border-radius: 0.2em;

}

/* #frag_containers .frag_container .frag_data .frag_list li .avatar {font-size: 20px;} */


/*------------------------------ Content -------------------------------------*/
.frag_list .content .content_title {
    padding-left: 0.25em;
    padding-top : 0.25em;
}


/*------------------------------ Members -------------------------------------*/

.frag_list .member li {
    display: inline;
}



/*----------------------------- Messages -------------------------------------*/

.frag_list .messages li {
    margin-bottom: 0.5em;
    /*border-bottom: 1px solid #ccc;*/
}
.frag_list .messages .unread      {background-color: #eee;}
.frag_list .messages .source      {float: left;}
.frag_list .messages .target      {float: left;}
.frag_list .messages .subject     {font-weight: bold; background-color: #ccc;}
.frag_list .messages .content a   {font-weight: bold;}
.frag_list .messages .icon_delete {float: right;}





