@import "../common/_palette.scss";
@import "../common/_mixin.scss";

#frag_containers .frag_container {
	/*---------------------------Frag Member Adverts------------------------------*/
	.advert {
		padding: 0;
		margin-top: 0.5em;
                width: 46.25%;
                margin-left: 2.5%;
                float: left;

		a {
			text-decoration: none;
			color: #666;
		}

		.box {
			position: relative;
			padding: 5px;
			padding-top: 1em;
			min-height: 6em;
			
			font-size: 110%;
			font-weight: bold;
			text-align: right;

			background-color: #ff8300;
			background-position: left bottom;
			background-repeat: no-repeat;
			
			@include border_radius(0.3em);
                        @include drop_shadow(1px, 1px, 1px, #666);
		}

		.content {
			color: #fff;
			margin-left: 15px;
		}

		.icon {
			position: relative;
			z-index: 1;
			left: 5px;
			top: 8px;
		}

		.hide_advert_submit {
			position: relative;
			mottom: 0em;
                        font-size: 75%;
			margin-top: 5px;

			/* --- Cross browser border rounding --- */
			border-radius        : 0.5em;
			-moz-border-radius   : 0.5em;
			-webkit-border-radius: 0.5em;
		}
	}
	
	/* --- Sponsored Feature Content --- */
	.sponsored_content {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		min-height: 15em;
		
		.thumbnail {
			min-width: 125px;
			max-width: 125px;
			min-height: 125px;
			max-height: 125px;
			margin: 0 0.25em 0.25em 0.25em;
			margin-bottom: 0.15em;
			padding: 0;
			float: left;
			
			img {
				height: 100%;
				width: 100%;
			}
		}
		
		.content {
			text-align: left;
			color: #333;
			font-size: 120%;
			word-wrap: break-word;
			float: left;
			
			p {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		
		.content-info {
			margin-bottom: 1em;
		}
		
		.content-info div {
			display: inline;
			float: left;
			margin: 0 5px 5px 15px;
		}
		
		.content_title {
			text-align: center;
			font-size: 120%;
			top: 0.25em;
			
			
			a {
				display: inline;
				float: left;
				margin-top: 5px;
				margin-left: 10px;
			}
			
			.creator-avatar {
				display: inline;
				float: right;
				margin-right: 5px;
				width: 40px;
				height: 40px;
				border: none;
				
				img, .thumbnail, .thumbnail_small {
					border: none;
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}