#frag_containers {
  /*overflow-x : scroll;*/
  white-space: nowrap;
  display: block;
  top:0;
  bottom:0;
  
}


#frag_containers .frag_container {
  vertical-align: top;
  display : inline-block !important;
  overflow: auto !important; /* the important property is needed because JQuery sets the style="" element to block and overflow */
  white-space: normal;
  
  width      : 500px;
  
  margin     : 0.2em;
  
  /* background-image: url('/styles/common/gradients/vertical_grey_to_transparent.png'); */
  
  border     : 0.1em solid #4a73b8;
  border-radius        : 0.5em;
  -moz-border-radius   : 0.5em;
  -webkit-border-radius: 0.5em;
  /*
  box-shadow        : 0.3em 0.3em 0.3em #AAA;
  -moz-box-shadow   : 0.3em 0.3em 0.3em #AAA;
  -webkit-box-shadow: 0.3em 0.3em 0.3em #AAA;
  */
  /*
    http://www.css3.info/preview/box-shadow/
  */
}

/*----------------------------------------------------------------------------*/
/* Action Bar                                                                 */
/*----------------------------------------------------------------------------*/
#frag_containers .frag_container .action_bar {
  /* height: 1.5em; */
  overflow: hidden;
  color: white;
  
  border-bottom: 0.1em solid #4a73b8; /* to match .frag_container */
  
  background: -webkit-gradient(linear, left bottom, left top, color-stop( 33, rgb(73,116,184)), color-stop(0.1, rgb(58,74,151)));
  background: -moz-linear-gradient(center bottom, rgb(73,116,184)  33%, rgb(58, 74,151) 100%);

  padding: 0.25em;
}

#frag_containers .frag_container .action_bar .common_actions {
  float: right;
}
#frag_containers .frag_container .action_bar .type_actions   {
  float: left;
}
#frag_containers .frag_container .action_bar .type_actions .title  {
  font-weight: bold;
  padding-left: 0.25em;
}

/*------------------------Content actions bar --------------------------------*/
#frag_containers .frag_container .action_bar_content {
  /* height: 1.5em; */
  overflow: hidden;
  color: black;
  
  background-color: #CCC;
}

#frag_containers .frag_container .action_bar_content a {
  color: inherit;
  text-decoration: inherit;
}
#frag_containers .frag_container .action_bar_content li {
  display: inline;
  border-left: 1px solid blue;
}

/*----------------------------------------------------------------------------*/
/* Fragment Data
/*----------------------------------------------------------------------------*/
#frag_containers .frag_container .frag_data {
  overflow-y: scroll;
  overflow-x: hidden;
  height:80px;
  
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(33 , rgb(230,230,230)),
    color-stop(0.1, rgb(255,255,255))
  );
  background: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255)  33%,
    rgb(230,230,230) 100%
  );
  /*
    http://www.webdesignerwall.com/tutorials/cross-browser-css-gradient/
    http://gradients.glrzad.com/
  */
}

/* Because the CSS box model is a pain with width, I read a killer tip. If you are ever setting the width/height of an item, NEVER set the margin or padding, always use an internal or external element. Yeah it's a bit of extra markup, but you have total control without having to be frustrated with the box model */
#frag_containers .frag_container .frag_data .frag_col {
  margin: 0.25em;
}
