@import "../common/_palette.scss";
@import "../common/_mixin.scss";

#frag_containers {

        .frag_list {

            padding: 1em;
        
            a {
                color: $button-txt;
            }
        
            label {
                width: 25%;
                font-size: 110%;
                color: #333;
            }
        
            .edit_input {
                width: 70%;
                float: right;
            }
        
            .editor, .mceEditor, .mceLayout {
                width: 70%;
                height: 150px;
                float: right;
            }
            
            .separator {
                clear: both;
                padding: 0.5em;
            }
            
            .button {
                padding: 0.5em;
            }
            
            .hideable {
                clear: both;
            }

        }

}
