@import "../common/_palette.scss";
@import "../common/_mixin.scss";

#frag_containers .frag_container {
	/*---------------------------Frag Member Adverts------------------------------*/
	.advert {
		position: relative;
		padding: 0.75em;
		margin: 1em 1em 0 1em;
		
		text-align: left;
		font-size: 110%;
		font-weight: bold;

		background-color: #ff8300;			
		@include border_radius(0.3em);
		@include drop_shadow(1px, 1px, 1px, #666);
		
		a {
			text-decoration: none;
			color: #666;
		}

		.content {
			color: #fff;
			max-width: 85%;
			margin-right: 10px;
			float: left;
		}

		form {
			float: right;
		}

		.hide_advert_submit {
			position: relative;
                        font-size: 75%;

			@include border-radius(0.5em);
		}
	}
	
	/* --- Sponsored Feature Content --- */
	.sponsored_content {
		margin: 0;
		padding: 0;
		padding-top: 1em;
		width: 100%;
		display: block;
		min-height: 15em;
		
		.content {
			text-align: left;
			color: #333;
			font-size: 110%;
			word-wrap: break-word;
			padding: 0.5em 1em 0 1em;
			
			.thumbnail {
				min-width: 125px;
				max-width: 125px;
				min-height: 125px;
				max-height: 125px;
				margin: 0 0.25em 0.15em 0;
				padding: 0;
				float: right;
				
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
		
		.content-info {
			margin-bottom: 1em;
		}
		
		.content-info div {
			display: inline;
			float: left;
			margin: 0 5px 5px 15px;
		}
		
		.content_title {
			text-align: center;
			font-size: 140%;
			font-weight: bold;
			
			a {
				display: inline;
				float: left;
				margin-top: 5px;
				margin-left: 10px;
			}
			
			.content_avatar {
				float: right;
				margin-right: 5px;
				width: 40px;
				height: 40px;
				
				border: 0.04em solid #CCC;
				@include border_radius(0.1em);
			}
		}
	}
}