/*-------------------------- Frag Content Cols--------------------------------*/
#frag_containers .frag_container .frag_content .frag_left_col {
  width: 66%;
  float: left;
}
#frag_containers .frag_container .frag_content .frag_right_col {
  width: 33%;
  float: right;
}

/*-------------------------- Content -----------------------------------------*/



/*----------------------------Content Comments--------------------------------*/

#frag_containers .frag_container .frag_content .comments h2 {
    font-size: 150%;
}

#frag_containers .frag_container .frag_content .comments td {
    vertical-align: top;
    color: #444;
    padding-bottom: 1em;
}

#frag_containers .frag_container .frag_content .comments .comment_textarea {
    width: 100%;
}

#frag_containers .frag_container .frag_content .comment_avatar {

}
#frag_containers .frag_container .frag_content .comment {
    padding-left  : 1em;
}
#frag_containers .frag_container .frag_content .comment .comment_by {
    font-weight: bold;
    margin-bottom: 0.25em;
}
#frag_containers .frag_container .frag_content .comment .comment_content        {font-size: 88%; line-height: 1em;}
#frag_containers .frag_container .frag_content .comment .comment_content:before {content: open-quote;}
#frag_containers .frag_container .frag_content .comment .comment_content:after  {content: close-quote;}