/*----------------------------------------------------------------------------*/
/* Fragment Lists
/*----------------------------------------------------------------------------*/

#frag_containers .frag_container .frag_data .frag_list {
  font-size: 88%;
}

#frag_containers .frag_container .frag_data .frag_list a {
    text-decoration: none;
    color: inherit;
}


#frag_containers .frag_container .frag_data .frag_list td {
    vertical-align: top;
}

#frag_containers .frag_container .frag_data .frag_list .title {
    padding: 0em 0.5em;
}

#frag_containers .frag_container .frag_data .frag_list .link_more {
    float: right;
}

/* #frag_containers .frag_container .frag_data .frag_list li .avatar {font-size: 20px;} */


/*------------------------------ Content -------------------------------------*/


/*------------------------------ Members -------------------------------------*/

.frag_list .members li {
    display: inline;
}



/*----------------------------- Messages -------------------------------------*/

.frag_list .messages li           {margin-bottom: 1em; border-bottom: 1px solid #ccc;}
.frag_list .messages .source      {float: left;}
.frag_list .messages .target      {float: left;}
.frag_list .messages .subject     {font-weight: bold;}
.frag_list .messages .content a   {font-weight: bold;}
.frag_list .messages .icon_delete {float: right;}





