#frag_containers {
  /*overflow-x : scroll;*/
  white-space: nowrap;
  display: block;
  top:0;
  bottom:0;
  /* white-space-collapse: discard; /* http://www.w3.org/TR/css3-text/#white-space-collapsing */
}

#frag_containers .frag_container {
  vertical-align: top;
  display : inline-block !important;
  overflow: auto !important; /* the important property is needed because JQuery sets the style="" element to block and overflow */
  white-space: normal;
  
  width      : 500px;
  
  /* margin     : 0.25em;*/
  margin-left: 0.2em;
  
  border: 0.1em solid #4a73b8;
  border-radius        : 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius   : 0.2em;
  
  /*bottom: 0em;
  position: relative;
  */
}

#frag_containers .frag_bridge {
  width: 250px;
}

/*----------------------------------------------------------------------------*/
/* Action/Title Bar                                                           */
/*----------------------------------------------------------------------------*/
/* #frag_containers .frag_container - used in popups*/
.title_bar {
  height: 1.25em;
  overflow: hidden;
  
  color: white;
  
  border-bottom: 0.1em solid #4a73b8; /* to match .frag_container */
  
  padding: 0.25em;
}

.title_bar .common_actions {
  float: right;
}
.title_bar .title   {
  float: left;
}
.title_bar .title .title_text  {
  font-weight: bold;
  padding-left: 0.25em;
}

/*-----------------------------Action bar -----------------------------------*/
#frag_containers .frag_container .action_bar {
  height: 1.25em;
  overflow: hidden;
  color: black;
  
  border-bottom: 0.1em solid #888; /* to match .frag_container */
  
  background-color: #CCC;
  padding: 0.25em;
}

#frag_containers .frag_container .action_bar .object_actions_common {
    float: right;
}

#frag_containers .frag_container .action_bar .object_actions_specific {
    float: left;
}


#frag_containers .frag_container .action_bar a {
  color: inherit;
  text-decoration: inherit;
}

#frag_containers .frag_container .action_bar .separtor {
  border-left: 1px solid #AAA;
  position: absolute;
  height: 1.75em;
  margin-top: -0.25em;
}

/* 
#frag_containers .frag_container .action_bar li {
  display: inline;
  border-left: 1px solid blue;
}
*/

/*----------------------------------------------------------------------------*/
/* Fragment Data
/*----------------------------------------------------------------------------*/
#frag_containers .frag_container .frag_data {
  overflow-y: scroll;
  overflow-x: hidden;
  
  
  /*
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(33 , rgb(240,240,240)),
    color-stop(0.1, rgb(255,255,255))
  );
  background: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255)  33%,
    rgb(240,240,240) 100%
  );
  */
  
  /*
    http://www.webdesignerwall.com/tutorials/cross-browser-css-gradient/
    http://gradients.glrzad.com/
  */
}


#frag_containers .frag_container .frag_data .frag_right_col .frag_col {
    margin-left: 0em;
}



/* Because the CSS box model is a pain with width, I read a killer tip. If you are ever setting the width/height of an item, NEVER set the margin or padding, always use an internal or external element. Yeah it's a bit of extra markup, but you have total control without having to be frustrated with the box model */

#frag_containers .frag_container .frag_data .frag_col {
  margin: 1em;
  font-size: 88%;
}
/*
#frag_containers .frag_container .frag_data .frag_col h2 {
    margin-top: 1em;
    clear: right;
}
*/
