/*-------------------------- Frag Member Cols---------------------------------*/
#frag_containers .frag_container .frag_member .frag_left_col {
  width: 33%;
  float: left;
}
#frag_containers .frag_container .frag_member .frag_right_col {
  width: 66%;
  float: right;
}