@import "../common/_palette.scss";

/*----------------------------------------------------------------------------*/
/* Fragment Lists
/*----------------------------------------------------------------------------*/

#frag_containers .frag_container .frag_data {
	.frag_list {
		font-size: 88%;

		background: $frag-list-top; /* for non-css3 browsers */

		/* border: 0.1em solid $frag-list-border; /* AllanC - removed border for experimenting */
		border-radius        : $frag-radius;
		-moz-border-radius   : $frag-radius;
		-webkit-border-radius: $frag-radius;
		
		margin-top: 1.5em;

		color: $frag-list-title-txt;

		/* --------------------------
		   Frag list Headings (for lists in content and member frags)
		   -------------------------- */
		h2 {
			font-size: 150%;
			margin: 0em;
			background-color: #fff; /* $frag-list-title; */
			padding: 0.5em 0.5em 0.25em 0.5em;
			
			/* Proto - Have to put this here too to round entire list for some reason */
			border-radius        : $frag-radius;
			-moz-border-radius   : $frag-radius;
			-webkit-border-radius: $frag-radius;
		}
		
		h2 .count {
			color: $frag-list-count;
			float: right;
		}

		.list_actions {
			float: right;
		}
		
		a {
			text-decoration: none;
			color: inherit;
		}
	}


	/* --------------------------
	   Frag list contents
	   -------------------------- */
	.frag_list_contents {
		background-color: white;
	
		padding       : 0.5em;
		padding-bottom: 0em; /* see rule below for each element adding there own bottom padding */

		.thumbnail       {font-size: 45px;} /* AllanC - humm ... horrible hack to just notch up the size of the thumbnail in content lists to match the text. This not a long term solution */
		.thumbnail_small {font-size: 20px;} /* dont override small size ... jesus this is a HACK */

		border-radius        : $frag-radius;
		-moz-border-radius   : $frag-radius;
		-webkit-border-radius: $frag-radius;

		td, li, ul {
			padding-bottom: 1em;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		td {
			vertical-align: top;
		}

		.link_more {
			float: right;
			background-color: $frag-list-border; 
			
			padding: 0.2em;
			
			position: relative;
			top: -0.75em;
			
			border-radius        : 0.2em;
			-moz-border-radius   : 0.2em;
			-webkit-border-radius: 0.2em;
		}

		/* .frag_list li .avatar {font-size: 20px;} */


		/*------------------------------ Content -------------------------------------*/
		.content_details {
			width: 100%;
			
			p {
			    padding-top : 0.1em;
			    padding-left: 0.4em;
			}
			
			.content_title {
			    font-size: 120%;
			    color: lighten($frag-list-txt, 20%);
			}
			
			.timestamp {
			font-size: 105%;
			    color: lighten($frag-list-txt, 30%);
			}
			
			.extra {
			    color: lighten($frag-list-txt, 40%);
			}
		    }


		/*------------------------------ Members -------------------------------------*/
		.member {
			li {
				display: inline;
				
				.thumbnail {
					margin-bottom: 0.2em;
				}
			}
		}


		/*----------------------------- Messages -------------------------------------*/
		.messages {
			li {
				margin-bottom: 0.5em;
				/*border-bottom: 1px solid #ccc;*/
			}
			.unread      {background-color: #eee;}
			.source      {float: left;}
			.target      {float: left;}
			.subject     {font-weight: bold; background-color: #ccc;}
			.content a   {font-weight: bold;}
			.icon_delete {float: right;}
		}
	}
	
	/* --- Sponsored Feature Content --- */
	.sponsored_content {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		min-height: 15em;
		
		.thumbnail {
			min-width: 125px;
			max-width: 125px;
			min-height: 125px;
			max-height: 125px;
			margin: 0.25em;
			padding: 0;
			
			img {
				height: 100%;
				width: 100%;
			}
		}
		
		.content_title {
			text-align: center;
			font-size: 120%;
			top: 0.25em;
			
			
			a {
				display: inline;
				float: left;
				margin-top: 5px;
				margin-left: 10px;
			}
			
			.creator-avatar {
				display: inline;
				float: right;
				margin-right: 5px;
				width: 40px;
				height: 40px;
				border: none;
				
				img, .thumbnail, .thumbnail_small {
					border: none;
					width: 40px;
					height: 40px;
				}
			}
		}
		
		.content {
			text-align: left;
			min-width: 305px;
			max-width: 305px;
			color: #333;
			font-size: 105%;
			word-wrap: break-word;
			
			p {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		
		.content-info {
		}
		
		.content-info div {
			display: inline;
			float: left;
			margin: 0 5px 5px 15px;
		}
	}
}
