/*----------------------------------------------------------------------------*/
/* Fragment Lists
/*----------------------------------------------------------------------------*/

#frag_containers .frag_container .frag_data .frag_list {
    font-size: 88%;

    border: 0.1em solid #ccc;
    border-radius        : 0.2em;
    -moz-border-radius   : 0.2em;
    -webkit-border-radius: 0.2em;
    
    margin-top: 1.5em;

    background: #eee; /* for non-css3 browsers */
	filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.19, #eee), color-stop(1.0, #fff)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #eee 19%, #fff); /* for firefox 3.6+ */

}

/* --------------------------
   Frag list Headings (for lists in content and member frags)
   -------------------------- */

#frag_containers .frag_container .frag_data .frag_list .icon {
}

#frag_containers .frag_container .frag_data .frag_list .frag_list_contents {
    padding       : 0.5em;
    padding-bottom: 0em; /* see rule below for each element adding there own bottom padding */
}


#frag_containers .frag_container .frag_data .frag_list h2 {
    margin: 0em;
    background-color: #ccc;
    padding : 0.25em;

}
#frag_containers .frag_container .frag_data .frag_list h2 .count {
    padding: 0.25em;
    float: right;
}

/* --------------------------
   Frag list contents
   -------------------------- */

#frag_containers .frag_container .frag_data .frag_list .list_actions {
    float: right;
}

.frag_list_contents td,
.frag_list_contents li,
.frag_list_contents ul {
    padding-bottom: 0.5em;
}

#frag_containers .frag_container .frag_data .frag_list          a ,
#frag_containers .frag_container .frag_data .frag_list_contents a {
    text-decoration: none;
    color: inherit;
}


#frag_containers .frag_container .frag_data .frag_list_contents td {
    vertical-align: top;
}


#frag_containers .frag_container .frag_data .frag_list_contents .link_more {
    float: right;
    background: #ccc;
    
    padding: 0.2em;
    
    position: relative;
    top: -0.75em;
    
    border-radius        : 0.2em;
    -moz-border-radius   : 0.2em;
    -webkit-border-radius: 0.2em;

}

/* #frag_containers .frag_container .frag_data .frag_list li .avatar {font-size: 20px;} */


/*------------------------------ Content -------------------------------------*/
.frag_list_contents .content .content_title {
    padding-left: 0.25em;
    padding-top : 0.25em;
    
    /* --- Style rework --- */
    font-size: 110%;
    font-weight: bold;
}

.frag_list_contents .content .content_by {
    padding-left: 0.5em;
    padding-top : 0.5em;
    font-size: 100%;
}

/*------------------------------ Members -------------------------------------*/

.frag_list_contents .member li {
    display: inline;
}



/*----------------------------- Messages -------------------------------------*/

.frag_list_contents .messages li {
    margin-bottom: 0.5em;
    /*border-bottom: 1px solid #ccc;*/
}
.frag_list_contents .messages .unread      {background-color: #eee;}
.frag_list_contents .messages .source      {float: left;}
.frag_list_contents .messages .target      {float: left;}
.frag_list_contents .messages .subject     {font-weight: bold; background-color: #ccc;}
.frag_list_contents .messages .content a   {font-weight: bold;}
.frag_list_contents .messages .icon_delete {float: right;}





