@import "../common/_palette.scss";

#get_involved {
    padding: 3em;

    .title {
        font-size: 200%;
    }
    
    .message {
        font-size: 150%;
    }
    
    .tag-line {
        font-size: 200%;
    }
}