.widget_creator {
    width: 900px;
    height: 500px;
    .padding {
        
    }
    
    .params {
        display: inline-block;
        width: 300px;
        text-align: center;
    }
    
    .preview {
        display: inline-block;
        width: 300px;
    }
    
    .code textarea {
        
        width: 300px;
        height: 300px;
    }
    
}