
$widget_unit_width : 280px;
$widget_unit_height: 300px;

.get_widget {
    display: inline-block;
    width : $widget_unit_width * 3 + 60px;
    height: $widget_unit_height;
}

.widget_creator {
    width : $widget_unit_width * 3 + 60px;
    height: $widget_unit_height;
    
    .padding {
    }
    
    .params {
        float: left;
        width: $widget_unit_width;
        
        .params_extra {
            font-size: 70%;
            label {
                display: inline-block;
                width: 6em;
            }
        }
    }
    
    .preview {
        float: left;
        width: $widget_unit_width;
        text-align: center;
    }
    
    .code {
        float: left;
        
        textarea {
            width : $widget_unit_width;
            height: $widget_unit_height;
        }
    }
    
}