.inviteform .frag_left_col {
    float: left;
    width: 50%;
    height: 100%;
}
.inviteform .frag_right_col {
    float: right;
    width: 50%;
    height: 100%;
}
.inviteform .frag_col {
	position: relative;
	height: 100%;
}
.inviteform .invite_header {
	height: 9em;
}
.inviteform .invite_area {
	word-wrap: break-word;
}
.inviteform .button_white {
	background: transparent;
	border: 0;
}
.inviteform .button.disabled {
	border: 1px solid #545d87;
	background: #8397b8; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8397b8', endColorstr='#687097'); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #8397b8), color-stop(0.81, #687097));
	background: -moz-linear-gradient(top, #8397b8, #687097 81%); 
	color: white;
}
.inviteform .pad_top {
	padding-top: 3px;
}
.inviteform .align_right {
	text-align: right;
}
.inviteform .invite_button {
	clear:both;
	text-align: center;
}
.inviteform .invite_area li .avatar {
	float: left;
}
.inviteform .invite_area li .action {
	float: right;
}
.inviteform .invite_area li .data {
	padding-left: 25px;
	margin-right: 40px;
}
.inviteform .invite_area li {
	display: inline-block;
	width: 100%;
}
.inviteform .invite-controls div {
	float: right;
}