HTML {
    overflow-x: scroll;
    /* overflow-y: hidden; */
}

/*
 * the body is then broken down into the navigation bar at the top
 */
/*
NAV {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
}
.u-anon NAV {height: 0px;}
.u-user NAV {height: 16px;}

NAV A {
	background: #EEE;
	text-align: center;
	color: black;
	text-decoration: none;

	position: absolute;
	top: 1px;

	display: block;
	width: 92px;
	height: 14px;
	font-size: 0.75em;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
NAV A SPAN {
	display: none;
}

NAV .name {left: 32px;}
NAV .role {left: 128px;}

NAV .messages {left: 256px;}

NAV .login, NAV .logout {
	position: absolute;
	right: 16px;
	width: 68px;
}
NAV .login {
	height: 15px;
}


NAV .persona_select img {
    max-width: 40px;
}
NAV .persona_select ul {
    top: 32px;
    left: 32px;
    background-color: #888;
}

*/

/*NAV .logout {top: 16px;}*/


/*----------------------------------------------------------------------------*/
/*                                 Header                                     */
/*----------------------------------------------------------------------------*/

HEADER {
	clear: both;
	background: url("/styles/web/headerbk.png") 0 -10px;
	position: fixed;
    top  : 0px;
	left : 0px;
	right: 0px;
	/* height: 64px; */
    height: 42px;
	z-index: 1;
}

BODY>DIV#app {
	/* clear: both;
	z-index: 0; */
	margin-bottom: 2em;
    margin-top: 44px;
}


/*----------------------------------------------------------------------------*/
/*                             Persona Select                                 */
/*----------------------------------------------------------------------------*/

HEADER #persona_select {
    position: absolute;
    top : 1px;
    left: 16px;
}

HEADER #persona_select img {
    width : 32px;
    height: 32px;
    border: 1px solid #888;
    border-radius        : 0.1em;
	-moz-border-radius   : 0.1em;
	-webkit-border-radius: 0.1em;
}

HEADER #persona_select li li {
    background-color: #ccc;
}


/*
.u-anon HEADER {top: 0px;}
.u-user HEADER {top: 16px;}
*/

/*
.u-anon #app {margin-top: 48px;}
.u-user #app {margin-top: 60px;}
*/

/*----------------------------------------------------------------------------*/
/*                                Logo                                        */
/*----------------------------------------------------------------------------*/

HEADER #logo IMG  {position: absolute; left: 64px; top: 6px;}
HEADER #logo SPAN {display: none;}


/*----------------------------------------------------------------------------*/
/*                                  Home                                      */
/*----------------------------------------------------------------------------*/

HEADER #home_link {
    position: absolute;
    top : -2px;
    left: -24px;
}


/*----------------------------------------------------------------------------*/
/*                                Navigation                                  */
/*----------------------------------------------------------------------------*/

HEADER .menuh-container {
	position: absolute;
	top: 11px;
	left: 220px;
}

NAV .menuh>UL {
	margin-left: 16px;
	height: 20px;
}
NAV .menuh ul {
    width:9em;	/* width of all menu boxes */
}
NAV .menuh a {
	font-family: sans;
	background: white;
}
NAV .menuh a.top_parent {
	border-radius: 10px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/* set border to 1px something so it doesn't wobble
	 * when changed to 1px black on hover */
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
NAV .menuh a.top_parent {
	font-weight: bold;
}
NAV .menuh LI:hover a.top_parent {
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}
NAV .menuh a.sub_option,
NAV .menuh a.parent {
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #ddd;
}
NAV .menuh LI:last-child>a.sub_option {
	border-bottom: 1px solid #555;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius: 0px 0px 10px 10px;
}
NAV .menuh INPUT {
	width: 100%;
}


/*----------------------------------------------------------------------------*/
/*                                Search                                      */
/*----------------------------------------------------------------------------*/

HEADER #search {
	position: absolute;
	top: 10px;
	right: 72px;
	width: 150px;
	height: 20px;
}
HEADER #search .search_input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
HEADER #search .button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*----------------------------------------------------------------------------*/
/*                             Login / Logout                                 */
/*----------------------------------------------------------------------------*/

HEADER #login {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 54px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
    
}




/*----------------------------------------------------------------------------*/
/*                                Col Body                                    */
/*----------------------------------------------------------------------------*/

/*
 * sometimes the main page is columned
 */
#col_left, #col_main, #col_right {
	/* padding: 0.25em; */
    /* margin-left: 0.2em; */
}
#col_left {
	float: left;
	width: 272px;
	border: 1px solid black;
}
#col_right {
	float: right;
	width: 272px;
	border: 1px solid black;
}
#col_main {
	/*border: 1px solid black;*/
}
#col_left  ~ #col_main { margin-left:  296px; }
#col_right ~ #col_main { margin-right: 296px; }




/*----------------------------------------------------------------------------*/
/*                                  Footer                                    */
/*----------------------------------------------------------------------------*/

FOOTER {
	background: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 10px;
	padding: 0.5em;
	border-top: 1px solid #CCC;
}
FOOTER A {
	text-decoration: none;
	margin-right: 8px;
}
FOOTER .copyright {
	float: right;
}

/*----------------------------------------------------------------------------*/
/*                                Title Styles                                */
/*----------------------------------------------------------------------------*/

H1,H2,H3,H4 {
    font-weight: bold;
    margin: 0.25em 0em;
}
H1 {
    font-size: 150%;
}
