/*----------------------------------------------------------------------------*/
/*                                Top Level                                   */
/*                         There is one HTML / BODY                           */
/*----------------------------------------------------------------------------*/

HTML {
    overflow-x: scroll;
    /* overflow-y: hidden; */
}


/*----------------------------------------------------------------------------*/
/*                                Main Level                                  */
/*                   Three big blocks - header, app, footer                   */
/*----------------------------------------------------------------------------*/

HEADER {
	clear: both;
	background: url("/styles/web/headerbk.png") 0 -10px;
	position: fixed;
    top  : 0px;
	left : 0px;
	right: 0px;
	/* height: 64px; */
    height: 42px;
	z-index: 1;
	/*
	 * really, the minimum width is 830px; but on an
	 * 800px screen, overlapping is slightly less bad
	 * than the Sign In button going off the edge of
	 * the screen
	 */
	min-width: 780px;
}

BODY>DIV#app {
	/* clear: both; */
	z-index: 0;
    margin-top: 44px;
}

FOOTER {
	background: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 10px;
	padding       : 0.50em;
    padding-top   : 0.25em;
    padding-bottom: 0.00em;
	border-top: 1px solid #CCC;
}



/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Logo                                        */
/*----------------------------------------------------------------------------*/

HEADER #logo .logo_img     {position: absolute; left:  12px; top:  6px; width: 128px;}
HEADER #logo .beta_overlay {position: absolute; left: 113px; top: 30px; width:  24px;}
HEADER #logo .logo_text    {display: none;}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                             Persona Select                                 */
/*----------------------------------------------------------------------------*/

HEADER #persona_select {
    position: absolute;
    top : 8px;
    left: 155px;
}

HEADER #persona_select img {
    width : 28px;
    height: 28px;
    border: 1px solid #888;
    border-radius        : 0.1em;
	-moz-border-radius   : 0.1em;
	-webkit-border-radius: 0.1em;
}

HEADER #persona_select table {
    display: none;
    border: 1px solid #ccc; /*#e9e9e9*/
    border-top: none;
    position: relative;
    left: -0.5em;
    font-size: 88%;
    background-color: white;
}
HEADER #persona_select:hover table {display: block;}
HEADER #persona_select .current_persona {background-color: #e9e9e9;}
HEADER #persona_select .name {font-weight: bold;}

HEADER #persona_select table td {
    padding: 0.5em;
    vertical-align: top;
}
HEADER #persona_select .info {
    font-size: 88%;
}

HEADER #persona_select .selectable:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                  Home                                      */
/*----------------------------------------------------------------------------*/

HEADER #home_link {
    position: absolute;
    top : 13px;
    /* left: 172px;*/
    left: 190px;
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Navigation                                  */
/*----------------------------------------------------------------------------*/

NAV {
	position: absolute;
	top: 11px;
	left: 185px;
}

NAV .menuh>UL {
	margin-left: 16px;
	height: 20px;
}
NAV .menuh ul {
    width:9em;	/* width of all menu boxes */
}
NAV .menuh LI:hover a.top_parent {
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;

	/* remove rounding when drop-downs are shown, so the
	 * button corner lines up with the menu */
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius: 0.2em 0.2em 0px 0px;
}
NAV .menuh a.sub_option,
NAV .menuh a.sub_option:visited,
NAV .menuh a.parent {
	background: white;
	color: black;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #ddd;
}
NAV .menuh LI:last-child>a.sub_option {
	border-bottom: 1px solid #555;

	border-bottom-left-radius         : 0.2em;
	border-bottom-right-radius        : 0.2em;
	-webkit-border-bottom-right-radius: 0.2em;
    -webkit-border-bottom-left-radius : 0.2em;
	-moz-border-radius                : 0px 0px 0.2em 0.2em;

}
NAV .menuh INPUT {
	width: 100%;
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Search                                      */
/*----------------------------------------------------------------------------*/

HEADER #search {
	position: absolute;
	top: 12px;
	right: 86px;
	width: 150px;
	height: 20px;
}
HEADER #search .search_input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
HEADER #search .button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                             Signin / Signout                               */
/*----------------------------------------------------------------------------*/

HEADER #signin {
    position: absolute;
    top: 11px;
    right: 8px;

    /*
    width: 54px;
    height: 18px; /* +2px border 
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
    */
}

HEADER #signin .button {
	padding: 0.2em;
    width: 64px;
}

/*----------------------------------------------------------------------------*/
/*                               App detail:                                  */
/*                                Col Body                                    */
/*----------------------------------------------------------------------------*/

/*
 * sometimes the main page is columned
 */
#col_left, #col_main, #col_right {
	/* padding: 0.25em; */
    /* margin-left: 0.2em; */
}
#col_left {
	float: left;
	width: 272px;
	border: 1px solid black;
}
#col_right {
	float: right;
	width: 272px;
	border: 1px solid black;
}
#col_main {
	/*border: 1px solid black;*/
}
#col_left  ~ #col_main { margin-left:  296px; }
#col_right ~ #col_main { margin-right: 296px; }




/*----------------------------------------------------------------------------*/
/*                             Footer detail:                                 */
/*                            Links & copyright                               */
/*----------------------------------------------------------------------------*/

FOOTER A {
    vertical-align : middle;
	text-decoration: none;
	margin-right: 8px;
}
FOOTER .copyright {
	float: right;
}


/*----------------------------------------------------------------------------*/
/*                                Title Styles                                */
/*----------------------------------------------------------------------------*/

H1,H2,H3,H4 {
    font-weight: bold;
    margin: 0.25em 0em;
}
H1 {
    font-size: 150%;
}
