@import "../common/_palette.scss";

/*----------------------------------------------------------------------------*/
/*                                Top Level                                   */
/*                         There is one HTML / BODY                           */
/*----------------------------------------------------------------------------*/

HTML {
    overflow-x: scroll;
    /* overflow-y: hidden; */
	background: $page-background;
}
HTML.frag_containers {
    background: $page-background;
}

/*----------------------------------------------------------------------------*/
/*                                Main Level                                  */
/*                   Three big blocks - header, app, footer                   */
/*----------------------------------------------------------------------------*/

HEADER {
	clear: both;
	//background: url("headerbk.png") #e6e6e6;
	background: #fff;
	position: fixed;
    top  : 0px;
	left : 0px;
	right: 0px;
	/* height: 64px; */
    height: 42px;
	z-index: 1;
	/*
	 * really, the minimum width is 830px; but on an
	 * 800px screen, overlapping is slightly less bad
	 * than the Sign In button going off the edge of
	 * the screen
	 */
	/*
	 * this should never matter, as for thin browsers
	 * we go into thin mode; but possibly this is still
	 * useful for IE7/8
	 */
	min-width: 780px;

	border-bottom: 1px solid #ccc;
}

BODY>DIV#app {
	position: relative; /* position needs to be relative, absolute, or fixed for z-index to work */
	z-index: 0;
    top: 49px;
}

FOOTER {
	background: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 10px;
	padding       : 0.50em;
    padding-top   : 0.25em;
    padding-bottom: 0.00em;
	border-top: 1px solid #ccc;
}



/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Logo                                        */
/*----------------------------------------------------------------------------*/

HEADER #logo {
	.logo_img     {position: absolute; left:  12px; top:  6px; width: 128px;}
	.beta_overlay {position: absolute; left: 113px; top: 30px; width:  24px;}
	.logo_text    {display: none;}
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                             Persona Select                                 */
/*----------------------------------------------------------------------------*/

HEADER #persona_select {
  position: absolute;
  top : 8px;
  left: 155px;
	z-index: 499; /* below the create/explore/manage */

	P {
		margin: 0px;
	}

	img {
		width : 28px;
		height: 28px;
		border: 1px solid #888;
		border-radius        : 0.1em;
		-moz-border-radius   : 0.1em;
		-webkit-border-radius: 0.1em;
	}

	table {
		display: none;
		border: 1px solid #ccc; /*#e9e9e9*/
		border-top: none;
		position: relative;
		left: -0.5em;
		font-size: 88%;
		background-color: white;
	}
	&:hover table {display: block;}
	.current_persona {background-color: #e9e9e9;}
	.name {font-weight: bold;}

	table td {
		padding: 0.5em;
		vertical-align: top;
	}
	.info {
		font-size: 88%;
	}

	.selectable:hover {
		background-color: #e9e9e9;
		cursor: pointer;
	}

	#persona_holder {
	  vertical-align: center;
	}

	#persona_holder #message_holder {
	  position: relative;
	  top: -3px;
	  vertical-align: center;
	  //height: 32px;
	  display: inline-block;
	}
	
  #persona_holder #persona_details {
    position: relative;
    top: -3px;
    vertical-align: center;
    height: 32px;
    display: inline-block;
    width: 9.5em;
    overflow: hidden;
    white-space: nowrap;
    #settings {
      font-size: 88%;
    }
  }

	#persona_holder #message_holder .icon_overlay_red {
	  font-size: 88%;
	}
}

/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                  Home                                      */
/*----------------------------------------------------------------------------*/

HEADER #home_link {
    position: absolute;
    top : 13px;
    /* left: 172px;*/
    left: 190px;
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Navigation                                  */
/*----------------------------------------------------------------------------*/

NAV {
	position: absolute;
	top: 11px;
	left: 505px;
	z-index: 500;

	.menuh>UL {
		margin-left: 8px;
		margin-right: 8px;
		height: 20px;
	}
	.menuh>UL>LI>UL{
		margin-top: 0px;
		padding-top: 0px;
	}
	.menuh ul {
		width: 120px;
	}
	.menuh LI:hover a.top_parent {
		border-top: 1px solid #555;
		border-left: 1px solid #555;
		border-right: 1px solid #555;

		/* remove rounding when drop-downs are shown, so the
		 * button corner lines up with the menu */
		border-bottom-left-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius: 0.2em 0.2em 0px 0px;
	}
	.menuh a.sub_option,
	.menuh a.sub_option:visited,
	.menuh a.parent {
		display: block;
		background: white;
		color: black;
		border-left: 1px solid #555;
		border-right: 1px solid #555;
		border-bottom: 1px solid #ddd;
	}
	.menuh a.sub_option:hover {
		background: #eef;
	}
	.menuh LI:last-child>a.sub_option {
		border-bottom: 1px solid #555;

		border-bottom-left-radius         : 0.2em;
		border-bottom-right-radius        : 0.2em;
		-webkit-border-bottom-right-radius: 0.2em;
		-webkit-border-bottom-left-radius : 0.2em;
		-moz-border-radius                : 0px 0px 0.2em 0.2em;

	}
	.menuh INPUT {
		width: 100%;
	}
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                             About buttons                                  */
/*----------------------------------------------------------------------------*/

HEADER #aboutbtns {
    position: absolute;
    top: 11px;
    right: 245px;

    /*
    width: 54px;
    height: 18px; /* +2px border 
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
    */
}

HEADER #aboutbtns .button {
	padding: 0.2em;
    width: 64px;
}

/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Search                                      */
/*----------------------------------------------------------------------------*/

HEADER #search {
	position: absolute;
	top: 12px;
	right: 86px;
	width: 150px;
	height: 20px;

	.search_input {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		border: none;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	
	.button {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 30px;
		height: 100%;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
}

/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                             Signin / Signout                               */
/*----------------------------------------------------------------------------*/

HEADER #signin {
    position: absolute;
    top: 11px;
    right: 8px;

    /*
    width: 54px;
    height: 18px; /* +2px border 
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
    */
}

HEADER #signin .button {
	padding: 0.2em;
    width: 64px;
}


/*----------------------------------------------------------------------------*/
/*                             Footer detail:                                 */
/*                            Links & copyright                               */
/*----------------------------------------------------------------------------*/

FOOTER {
	A {
		/*vertical-align : middle;*/
		text-decoration: none;
		margin-right: 8px;
	}
	.links {
		float: left;
	}
	.copyright {
		float: right;
	}
}


/*----------------------------------------------------------------------------*/
/*                                  Thin Mode                                 */
/*----------------------------------------------------------------------------*/

@media (max-width: 940px) {
	HEADER {
		min-width: 480px;
		height: 84px;
	}
	HEADER #persona_select {
		z-index: 501; /* above the create/explore/manage */
	}
	HEADER #aboutbtns {
		display: none;
	}
	NAV {
		top: 53px;
		left: 0px;
		right: 0px;
	}
	NAV .menuh {
		width: 400px;
		margin: auto;
	}
	NAV .menuh>UL {
		margin-left: 4px;
		margin-right: 4px;
	}

	BODY>DIV#app {
		margin-top: 86px;
	}

	BODY>DIV#app #frag_containers {
		margin: 0px;
	}
	BODY>DIV#app #frag_containers .frag_container {
		margin: 0px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	BODY>DIV#app #frag_containers .frag_container.frag_col_1 {
		width: 240px;
	}
	BODY>DIV#app #frag_containers .frag_container.frag_col_2 {
		width: 480px;
	}

	FOOTER .links, FOOTER .copyright {
		float: left;
		clear: both;
		width: 100%;
		text-align: center;
	}
}
