/*----------------------------------------------------------------------------*/
/*                                Top Level                                   */
/*                         There is one HTML / BODY                           */
/*----------------------------------------------------------------------------*/

HTML {
    overflow-x: scroll;
    /* overflow-y: hidden; */
}


/*----------------------------------------------------------------------------*/
/*                                Main Level                                  */
/*                   Three big blocks - header, app, footer                   */
/*----------------------------------------------------------------------------*/

HEADER {
	clear: both;
	background: url("/styles/web/headerbk.png") 0 -10px;
	position: fixed;
    top  : 0px;
	left : 0px;
	right: 0px;
	/* height: 64px; */
    height: 42px;
	z-index: 1;
}

BODY>DIV#app {
	/* clear: both; */
	z-index: 0;
    margin-top: 44px;
}

FOOTER {
	background: white;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 10px;
	padding       : 0.50em;
    padding-top   : 0.25em;
    padding-bottom: 0.00em;
	border-top: 1px solid #CCC;
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                             Persona Select                                 */
/*----------------------------------------------------------------------------*/

HEADER #persona_select {
    position: absolute;
    top : 1px;
    left: 16px;
}

HEADER #persona_select img {
    width : 32px;
    height: 32px;
    border: 1px solid #888;
    border-radius        : 0.1em;
	-moz-border-radius   : 0.1em;
	-webkit-border-radius: 0.1em;
}

HEADER #persona_select li li {
    background-color: #ccc;
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Logo                                        */
/*----------------------------------------------------------------------------*/

HEADER #logo IMG  {position: absolute; left: 64px; top: 6px;}
HEADER #logo SPAN {display: none;}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                  Home                                      */
/*----------------------------------------------------------------------------*/

HEADER #home_link {
    position: absolute;
    top : -2px;
    left: -24px;
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Navigation                                  */
/*----------------------------------------------------------------------------*/

NAV {
	position: absolute;
	top: 11px;
	left: 220px;
}

NAV .menuh>UL {
	margin-left: 16px;
	height: 20px;
}
NAV .menuh ul {
    width:9em;	/* width of all menu boxes */
}
NAV .menuh LI:hover a.top_parent {
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}
NAV .menuh a.sub_option,
NAV .menuh a.sub_option:visited,
NAV .menuh a.parent {
	background: white;
	color: black;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #ddd;
}
NAV .menuh LI:last-child>a.sub_option {
	border-bottom: 1px solid #555;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius: 0px 0px 10px 10px;
}
NAV .menuh INPUT {
	width: 100%;
}


/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                                Search                                      */
/*----------------------------------------------------------------------------*/

HEADER #search {
	position: absolute;
	top: 11px;
	right: 72px;
	width: 150px;
	height: 20px;
}
HEADER #search .search_input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
HEADER #search .button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*----------------------------------------------------------------------------*/
/*                             Header detail:                                 */
/*                             Login / Logout                                 */
/*----------------------------------------------------------------------------*/

HEADER #login {
    position: absolute;
    top: 11px;
    right: 8px;
    width: 54px;
    height: 18px; /* +2px border */
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
}


/*----------------------------------------------------------------------------*/
/*                               App detail:                                  */
/*                                Col Body                                    */
/*----------------------------------------------------------------------------*/

/*
 * sometimes the main page is columned
 */
#col_left, #col_main, #col_right {
	/* padding: 0.25em; */
    /* margin-left: 0.2em; */
}
#col_left {
	float: left;
	width: 272px;
	border: 1px solid black;
}
#col_right {
	float: right;
	width: 272px;
	border: 1px solid black;
}
#col_main {
	/*border: 1px solid black;*/
}
#col_left  ~ #col_main { margin-left:  296px; }
#col_right ~ #col_main { margin-right: 296px; }




/*----------------------------------------------------------------------------*/
/*                             Footer detail:                                 */
/*                            Links & copyright                               */
/*----------------------------------------------------------------------------*/

FOOTER A {
    vertical-align : middle;
	text-decoration: none;
	margin-right: 8px;
}
FOOTER .copyright {
	float: right;
}


/*----------------------------------------------------------------------------*/
/*                                Title Styles                                */
/*----------------------------------------------------------------------------*/

H1,H2,H3,H4 {
    font-weight: bold;
    margin: 0.25em 0em;
}
H1 {
    font-size: 150%;
}
