@import "../common/_palette.scss";
/*----------------------------------------------------------------------------*/
/*                                 Titlepage                                  */
/*----------------------------------------------------------------------------*/

BODY.c-misc.a-titlepage {
    text-align: center;

	/* --- Header --- */

	HEADER {
		display: block;
		background-image: none;
		background-color: #FFF;
		width: 65em;
		height: 3em;
		margin: 0 auto 0 auto;
		padding: 1em 0 1em 0;
		text-align: left;

		table {
			display: inline;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		.how-to {
			padding-left: 54.5em;
		}

		.how-to a {
			text-decoration: none;
		}

		.logo {
			padding-left: 1em;
			padding-right: 5em;
		}

		.signin {
			padding-right: 1em;
		}

		.links {
			padding-right: 19em;
		}

		.search {
			
		}

		.logo a {
			text-decoration: none;
		}
		
		.button {
		    padding: 3px;
		}
	}

	/* --- Title-box --- */

	.title-box {
		padding: 0;
		margin: 8em auto 6em auto;
		width: 65em;

		.headline {
			padding: 0;
			margin: 0 auto 0 auto;
			font-size: 300%;
			test-align: left;
			color: #e38317; /*#c77b01;*/
		}

		.tagline {
			padding: 0;
			margin: 0 auto 0 auto;
			color: #666;
			font-size: 200%;
			font-weight: normal;
		}
	}

	/* --- Windows --- */

	.windows {
		margin: 0 auto 0 auto;
		width: 65em;

		a {
			text-decoration: none;
		}

		.window {
			width: 251px;
			float: left;
			position: relative;
		}

		.window .window-content {
			width: 251px;
			height: 198px;
			border: 0.3em solid #ffda6b;
			-moz-border-radius: 10px;
			border-radius: 5px;  
			opacity: 0.75;
			filter:alpha(opacity=75);
		}

		.window .window-content:hover {
			border-color: #e38317;
			-moz-box-shadow: 3px 3px 15px #888;
			-webkit-box-shadow: 3px 3px 15px #888;
			box-shadow: 3px 3px 15px #888;
			opacity: 1;
			filter:alpha(opacity=100);
		}

		.window .window-tab {
			color: #666;
			font-size: 175%;
			font-weight: bold;
			padding-top: 0.5em;
			
			b {
			    font-weight: bolder;
			}
		}

		.window .hilite {
			color: #e38317;
		}

		.window .larger {
			font-size: 125%;
		}

		#window-indvs {
			margin: 0 2.5em 0 2.5em;
		}

		.content-list {
			font-size: 125%;
			margin: 2.5em auto;
		}

		#window-signup .signup-link {
			font-size: 225%;
			font-weight: bold;
			text-decoration: none;
			margin: 2.9em auto;
		}
	}

	.about {
		clear: both;
		margin: 33em auto 0 auto;
		text-align: left;
		width: 65em;
	}

	.about a {
		color: #666;
		text-decoration: underline;
		font-size: 90%;
	}

	/* --- Downloads --- */

	.downloads {
		float: right;
		width: 10em;
	}

	.downloads h2 {
		text-align: left;
	}

	.downloads .downloads-android {
		width: inherit;
		margin: 0;
		position: absolute;
		float: left;
	}

	/* --- Partners --- */

	.using-us {
		text-align: left;
		float: left;
		width: 50em;
	}

	.using-us .partners {
		padding: 0.5em;
		height: 5em;
	}

	.using-us .partners .partner {
		float: left;
	}
}

/* --- Get Widget ---- */

.get_widget ul li {
    list-style: disc;
    margin-left: 2em;
}
label.norm {
    font-weight: normal;
}


BODY.c-register.a-new_user.u-user {
	.newform {
		text-align:left;
	}

	.newform tr td {
		vertical-align: bottom !important;
		padding-bottom: 1em;
	}

	.newform .newformtitle {
		font-size: 110%;
		font-weight: bold;
	}

	.newform .smaller {
		font-size: 75%;
	}

	.newform input {
		width: 17em;
	}
}

table.upgrade_plans {

  $thin-border: 1px solid gray;
  $hilt-border: 2px solid $button-top;
  $cell-width:  5em;
  $head-font:   120%;
  
  tbody tr:nth-child(odd) {
    background: lighten($cb-lightblue, 40%);
  }
  
  .larger {
    font-size: 120%;
  }
  
  td {
    padding-left: 1.5em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  
  thead {
    td {
      border-top: $thin-border;
      border-bottom: $thin-border;
      font-weight: bold;
      font-size: $head-font;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
    }
      .hilight {
          border: $hilt-border;
      }
  }
  
  tbody {
    border: $thin-border;
    td.title {
      border-right: $thin-border;
    }
    td.item {
        width: $cell-width;
    }
    .hilight {
      border-left: $hilt-border;
      border-right: $hilt-border;
    }
  }
  
  tfoot {
    .foot{
      td {
        border-top: $thin-border;
        border-bottom: $thin-border;
        font-weight: bold;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
      .hilight {
        border: $hilt-border;
      }
    }
    .upgrade{
      td {
        padding : 0.2em;
        text-align: center;
        .button {
          //width: $cell-width * $head-font;
        }
      }
    }
  }
}