/*----------------------------------------------------------------------------*/
/*                                 Titlepage                                  */
/*----------------------------------------------------------------------------*/

BODY.c-misc.a-titlepage DIV#app {
    text-align: center;
}

BODY.c-misc.a-titlepage DIV#app .button {
    width: 8em;
}

BODY.c-misc.a-titlepage SECTION.mobile {
    display: block;
    padding: 1em;
}

BODY.c-misc.a-titlepage SECTION.description h1 {
    margin: 0em;
    padding-bottom: 0.5em;
}

BODY.c-misc.a-titlepage SECTION.description {
    padding-top: 1em;
    display: block;
    text-align: left;
}

BODY.c-misc.a-titlepage SECTION.description .description_container {
    clear: both;
    display: block;
	background-color: #eee;
    
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
    
    padding: 1em;
    padding-top: 0.5em;
    
    margin-bottom: 1em;
}

BODY.c-misc.a-titlepage SECTION.description .description_container .steps_container {
	background-color: white;
    
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
    
    width: 100%;
    
    position: relative;
    top:0em;
}

#step_container                   {              width: 600px; height: 300px;}
#step_container .step_main        {float: left;  width: 399px; height: 300px; border-right: 1px solid #ccc;}
#step_container .step_description {float: right; width: 200px; height: 300px;}
#step_container .step_padding     {padding: 0.5em;}
HTML.js #step_container .step  {position: absolute;}

.steps_container .step_nav {
    vertical-align: middle;
    font-size: 2em;

    padding    : 0.2em 0.5em;
    padding-top: 0em;

	border-radius        : 0.2em;
	-moz-border-radius   : 0.2em;
	-webkit-border-radius: 0.2em;
    
    border: 1px solid #ccc;
    cursor: pointer;
    position: absolute;
    bottom: 4px;
}
.steps_container .step_back {left  :   4px;}
.steps_container .step_next {right : 204px;}

/* --- New  Front ---- */

BODY.c-misc.a-titlepage .who_is {
	width: 90%;
	text-align: left;
	margin: 0 auto 0 auto;
}
BODY.c-misc.a-titlepage .border {
	border: 1px solid #2A3A87;
	
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
}
BODY.c-misc.a-titlepage .who_is .who {
	border: 1px solid #2A3A87;
	
	border-radius        : 0.5em;
	-moz-border-radius   : 0.5em;
	-webkit-border-radius: 0.5em;
	
	width: 18em;
	float: left;
	margin-right: 1em;
}
BODY.c-misc.a-titlepage .who_is .what {
	float: left;
	margin-left: 2em;
	margin-right: 0;
}
BODY.c-misc.a-titlepage .who_is .what .what_description {
	color: #000;
	background-color: #FFF;
	font-size: 1.2em;
	list-style:outside circle;
	height: 16em;
	padding: 1em;
	margin-right: 0;
}
BODY.c-misc.a-titlepage .who_is .what .what_description ul {
	padding-left: 1em;
}
BODY.c-misc.a-titlepage .who_is .what .what_description li {
	list-style: outside circle;
	padding-bottom: 0.5em;
}
BODY.c-misc.a-titlepage .who_is .who .who_title h3 {
	font-size: 2em;
	padding: 0 0.5em 0 0.5em;
}
BODY.c-misc.a-titlepage .who_is .who .who_logo {
	height: 7em;
	text-align: center;
	vertical-align: middle;
}
BODY.c-misc.a-titlepage .who_is .who .who_logo img {
	width: 100%;
}
BODY.c-misc.a-titlepage .who_is .who .who_description {
	background-color: #3A4A97; /*#2A3A87; #3A4A97; #4974B8;*/
	color: #FFF;
	padding: 1em;
	height: 13em;
}

BODY.c-misc.a-titlepage .new_front {
	width: 90%;
	margin: 0 auto 0 auto;
}

BODY.c-misc.a-titlepage .new_front .front_sub {
	width: 60em;
	margin: 0 auto 4em auto;
	text-align: left;
}

BODY.c-misc.a-titlepage h1.headline {
	padding: 1em 0.75em 0.5em 0.75em;
	font-size: 2.75em;
}

BODY.c-misc.a-titlepage .who_is h1 {
	text-align: left;
	font-size: 2.25em;
	padding-bottom: 0.5em;
}

BODY.c-misc.a-titlepage .center {
	text-align: center;
}

BODY.c-misc.a-titlepage .tag h2 {
	border-top: 1px solid black;
	margin-top: 2em;
	padding-top: 1em;
	font-size: 2.25em;
}

BODY.c-misc.a-titlepage .new_front .price_banner {
	font-size: 2em;
	width: 25em;
	margin: 2em auto 0 auto;
}

BODY.c-misc.a-titlepage .new_you p {
	padding-bottom: 1em;
}

/* --- Get Widget ---- */

.get_widget ul li {
    list-style: disc;
    margin-left: 2em;
}
label.norm {
  font-weight: normal;
}
