/*----------------------------------------------------------------------------*/
/*                                 Titlepage                                  */
/*----------------------------------------------------------------------------*/

BODY.c-misc.a-titlepage {
    text-align: center;
}

/* --- Header --- */

BODY.c-misc.a-titlepage HEADER {
    display: block;
    background-image: none;
    background-color: #FFF;
    width: 65em;
    height: 3em;
    margin: 0 auto 0 auto;
    padding: 1em 0 1em 0;
    text-align: left;
}

BODY.c-misc.a-titlepage HEADER table {
    display: inline;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

BODY.c-misc.a-titlepage HEADER .how-to {
    padding-left: 54.5em;
}

BODY.c-misc.a-titlepage HEADER .how-to a {
    text-decoration: none;
}

BODY.c-misc.a-titlepage HEADER .logo {
    padding-left: 1em;
    padding-right: 5em;
}

BODY.c-misc.a-titlepage HEADER .signin {
    padding-right: 1em;
}

BODY.c-misc.a-titlepage HEADER .links {
    padding-right: 19em;
}

BODY.c-misc.a-titlepage HEADER .search {
    
}

BODY.c-misc.a-titlepage HEADER .logo a {
    text-decoration: none;
}

/* --- Title-box --- */

BODY.c-misc.a-titlepage .title-box {
    padding: 0;
    margin: 8em auto 8em auto;
    width: 65em;
}

BODY.c-misc.a-titlepage .title-box .headline {
    padding: 0;
    margin: 0 auto 0 auto;
    font-size: 300%;
    test-align: left;
    color: #e38317; /*#c77b01;*/
}

BODY.c-misc.a-titlepage .title-box .tagline {
    padding: 0;
    margin: 0 auto 0 auto;
    color: #666;
    font-size: 200%;
    font-weight: normal;
}

/* --- Windows --- */

BODY.c-misc.a-titlepage .windows {
    margin: 0 auto 0 auto;
    width: 65em;
}

BODY.c-misc.a-titlepage .windows a {
    text-decoration: none;
}

BODY.c-misc.a-titlepage .windows .window {
    width: 19.8em;
    float: left;
    position: relative;
}

BODY.c-misc.a-titlepage .windows .window .window-content {
    width: 19.8em;
    height: 17em;
    border: 0.3em solid #ffda6b;
    -moz-border-radius: 10px;
    border-radius: 5px;  
    opacity: 0.75;
    filter:alpha(opacity=75);
}

BODY.c-misc.a-titlepage .windows .window .window-content:hover {
    border-color: #e38317;
    -moz-box-shadow: 3px 3px 15px #888;
    -webkit-box-shadow: 3px 3px 15px #888;
    box-shadow: 3px 3px 15px #888;
    opacity: 1;
    filter:alpha(opacity=100);
}

BODY.c-misc.a-titlepage .windows .window .window-tab {
    color: #666;
    font-size: 175%;
    font-weight: bold;
    padding-top: 0.5em;
}

BODY.c-misc.a-titlepage .windows .window .hilite {
    color: #e38317;
}

BODY.c-misc.a-titlepage .windows .window .larger {
    font-size: 125%;
}

BODY.c-misc.a-titlepage .windows #window-indvs {
    margin: 0 2.5em 0 2.5em;
}

BODY.c-misc.a-titlepage .windows .content-list {
    font-size: 125%;
    margin: 2.5em auto;
}

BODY.c-misc.a-titlepage .windows #window-signup .signup-link {
    font-size: 225%;
    font-weight: bold;
    text-decoration: none;
    margin: 3.1em auto;
}

BODY.c-misc.a-titlepage .about {
    position: relative;
    clear: both;
    margin: 37.5em auto 0 auto;
    text-align: left;
    width: 65em;
}

BODY.c-misc.a-titlepage .about a {
    color: #666;
    text-decoration: underline;
    font-size: 90%;
}

/* --- Downloads --- */

BODY.c-misc.a-titlepage .downloads {
    float: right;
    width: 10em;
}

BODY.c-misc.a-titlepage .downloads h2 {
    text-align: left;
}

BODY.c-misc.a.titlepage .downloads .downloads-android {
    width: inherit;
    margin: 0;
    position: absolute;
    float: left;
}

/* --- Partners --- */

BODY.c-misc.a-titlepage .using-us {
    text-align: left;
    float: left;
    width: 50em;
}

BODY.c-misc.a-titlepage .using-us .partners {
    padding: 0.5em;
    height: 5em;
}

BODY.c-misc.a-titlepage .using-us .partners .partner {
    float: left;
}

/* --- Get Widget ---- */

.get_widget ul li {
    list-style: disc;
    margin-left: 2em;
}
label.norm {
    font-weight: normal;
}


BODY.c-register.a-new_user.u-user .newform {
	text-align:left;
}

BODY.c-register.a-new_user.u-user .newform tr td {
	vertical-align: bottom !important;
	padding-bottom: 1em;
}

BODY.c-register.a-new_user.u-user .newform .newformtitle {
	font-size: 110%;
	font-weight: bold;
}

BODY.c-register.a-new_user.u-user .newform .smaller {
	font-size: 75%;
}

BODY.c-register.a-new_user.u-user .newform input {
	width: 17em;
}