BODY.c-groups.u-user, BODY.c-settings.u-user {
  .group_settings {
    .button {
      width: 10em;
    }
  
    fieldset {
      width: auto !important;
    }
  
    .group-block {
      padding: 0.5em 0;
      padding-left: 2.5em;
      width: 100%;
      * {
        top: 0;
        vertical-align: top;
      }
    }
    
    .number {
      padding: 0.5em;
      padding-top: 0.5em;
    }
    
    .upgrade {
      position: relative;
      display: inline-block;
      width: 13em;
      font-size: 90%;
      font-weight: normal;
    }
    
    .radio {
      margin-right: 1em;
    }
    
    .setting-disabled {
      background-color: #DDD;

      // color: #999 !important;
    }
    
    .radio-right {
      padding-left: 11em;
      width: 18em;
    }
    
    .b {
      font-weight: bold;
    }
    
    li {
      padding: 0.25em 0;
    }
    
    ul {
      padding-bottom: 0.5em;
    }
    
    label, .number, div .label {
      font-weight: bold;
    }
    
    label {
      display: inline-block;
      width: 8em;
    }
    
    .wide_label {
      label {
        width: 27em !important;
      }
      input {
        width: 2em !important;
      } 
    }
        
    .label {
    display: inline-block;
    width: 15em;
    }
    
    input, textarea {
      display: inline-block;
      width: 20em;
    }
    
    .radio {
      width: 2em;
    }
  }
	.group-edit {
		width: 300px;
	}

	TEXTAREA.group-edit {
		resize: vertical;
		height: 75px;
	}

	TR TD  {
		vertical-align: top;
	}

	TR.padding TD  {
		padding-bottom: 0.6em;
	}

	TR.doublepadding TD  {
		padding-bottom: 1.8em;
	}

	TD.bold  {
		font-weight: bold;
	}

	TD.bigger  {
		font-size: 2em;
	}

	TD.center  {
		text-align: center;
	}

	TD.bigger  {
		font-size: 1.5em;
	}

	TABLE.group-table {
		width: 475px;
	}

	TABLE.quickgroup-table {
		width: 210px;
	}

	.quickbutton {
		width: 100px;
		height: 60px;
		white-space: normal;
	}

	.quickhilite {
		color: #FF0;
	}

	TD.quickchangehilite {
		background-color: #AAFFAA;
	}

	TR.quickchangehilite TD {
		background-color: #AAFFAA;
	}

	.role_description {
		color: #555;
	}
}
