BODY.c-groups.u-user .group-edit,BODY.c-settings.u-user .group-edit {
  width: 300px;
}

BODY.c-groups.u-user TEXTAREA.group-edit,BODY.c-settings.u-user TEXTAREA.group-edit {
  resize: vertical;
  height: 75px;
}

BODY.c-groups.u-user TR TD,BODY.c-settings.u-user TR TD  {
  vertical-align: top;
}

BODY.c-groups.u-user TR.padding TD, BODY.c-groups.u-user,BODY.c-settings.u-user TR.padding TD, BODY.c-groups.u-user  {
  padding-bottom: 0.6em;
}

BODY.c-groups.u-user TR.doublepadding TD,BODY.c-settings.u-user TR.doublepadding TD  {
  padding-bottom: 1.8em;
}

BODY.c-groups.u-user TD.bold,BODY.c-settings.u-user TD.bold  {
  font-weight: bold;
}

BODY.c-groups.u-user TD.bigger,BODY.c-settings.u-useruser TD.bigger  {
  font-size: 2em;
}

BODY.c-groups.u-user TD.center,BODY.c-settings.u-user TD.center  {
  text-align: center;
}

BODY.c-groups.u-user TD.bigger,BODY.c-settings.u-user TD.bigger  {
  font-size: 1.5em;
}

BODY.c-groups.u-user TABLE.group-table,BODY.c-settings.u-user TABLE.group-table {
  width: 475px;
}

BODY.c-groups.u-user TABLE.quickgroup-table,BODY.c-settings.u-user TABLE.quickgroup-table {
  width: 210px;
}

BODY.c-groups.u-user .quickbutton,BODY.c-settings.u-user .quickbutton {
  width: 100px;
  height: 60px;
  white-space: normal;
}

BODY.c-groups.u-user .quickhilite,BODY.c-settings.u-user .quickhilite {
  color: #FF0;
}

TD.quickchangehilite {
  background-color: #AAFFAA;
}

TR.quickchangehilite TD {
  background-color: #AAFFAA;
}

BODY.c-groups.u-user .role_description,BODY.c-settings.u-user .role_description {
  color: #555;
}
