/*----------------------------Popups------------------------------------------*/
.popup_content {
    width: 45em;
    display: block;
    padding: 0 2em 0 2em;
    
    .information {
        padding: 2em 0 2em 0;
        margin: 0;
        float: left;

        .popup-title {
                font-size: 250%;
        }
        
        .popup-message {
            font-size: 150%;
            margin: 1em 0 1em 0;
        }
        
        .popup-tag-line {
                font-size: 250%;
        }
    }
    
    .popup-icons {
        margin-right: 2em;
        float: right;
        height: 100%;
        width: 7em;
        
        img {
            width: 100%;
            display: block;
        }
    }
    
    .popup-actions {
        clear: both;
        padding-bottom: 1em;
        text-align: center;
        
        .button {
            padding: 1em;
        }
    }
}
