@import "../common/_palette.scss";
@import "../common/_mixin.scss";

HTML.no-js {
    #help_type_continue {
        display: none;
    }
    
    #user_details_back {
        display: none;
    }
}

BODY.c-register.a-new_user.u-user {

    .step {
      font-size: 300%;
      text-align: center;
    }
    
    .layout {
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6em;
          
        text-align: center;
    }

    .newform {
        margin-top: 1em;
        margin: auto;
        text-align: left;
        width: 850px;
        
        .button {
            
        }
    }

	.newform tr td {
		vertical-align: top !important;
		padding-bottom: 1em;
        p {
            margin-top: 0.5em;
        }
        
        #user_details_back {
            cursor: pointer;
            text-align: center;
        }
	}

    .newform th {
        vertical-align: top !important;
        font-size: 110%;
        font-weight: bold;
        width: 140px;
    }
    
    .newform th:after {
        content: ":";
    }

	.newform .smaller {
		font-size: 75%;
	}

	.newform input {
		width: 17em;
	}
    
    .user_type_option {
        display: inline-block;
        position: relative;
        width: 40%;
        min-height: 165px;
	      font-size: 120%;
	      cursor: pointer;
	      
	      @include drop_shadow(1px, 1px, 3px, #333);
        
        background-color: $cb-light-inactive;
        border: 0.1em solid #666; //$cb-light-inactive;
	
        img {
            float: right;
            width: 50px;
        }
        
        padding: 1em;
        @include border_radius(0.5em);
        vertical-align: middle;
        // margin-right: 1em;
        
        p {
            margin-top   : 0.5em;
            margin-bottom: 0.5em;
        }
        span {
            display: none;
        }
        
        &:hover {
            background-color: lighten($cb-light-inactive, 3%);
        }
        
        .newformtitle {
            font-size: 120%;
        }
        
        ul {
            list-style: circle outside;
            
            .subtitle {
                color: $advert_back;
            }
            
            li {
                padding: 5px 0 5px 10px;
            }
        }
    }
    
    .or {
	display: inline-block;
	position: relative;
	width: 11%;
	font-size: 300%;
	text-align: center;
	
	p {
		margin: 0;
	}
    }
    
    .selected {
        background-color: $cb-lighterblue;
        background-image: url('/images/misc/registration_tick.png');
        background-repeat: no-repeat;
        background-position: center center;
        border: 0.1em solid $cb-lightblue;
        
        &:hover {
            background-color: lighten($cb-lighterblue, 3%);
        }
    }
}