/*
 * layout for the web page, starting with the body to cover everything
 */
BODY {
	background: #DDD;
}

/*
 * the body is then broken down into the navigation bar at the top
 */
NAV {
	background: url("/styles/web/userbarbk.png");
	height: 17px;
}
NAV UL {
	float: left;
	padding-left: 32px;
	padding-right: 32px;
}
NAV UL.right {
	float: right;
}
NAV UL LI {
	float: left;
}
NAV UL LI A {
	display: block;
	background: url("/styles/web/userbartab.png");
	width: 71px;
	text-align: center;
}
NAV UL LI.settings A {
	background: url("/styles/web/userbarlogout.png");
	width: 68px;
}
NAV A {
	color: black;
	text-decoration: none;
}

/*
 * the header, with logo and search box
 */
HEADER {clear: both;}

HEADER #logo IMG {padding: 32px;}
HEADER #logo SPAN {display: none;}

HEADER #login {
	float: right;
	margin-right: 32px;
	width: 68px;
	/*
	background: url("/styles/web/userbarlogout.png");
	background-position: 100% 100%;
	text-align: center;
	*/
}

HEADER #search {float: right; clear: right;}
HEADER #search FORM {padding: 32px;}

/*
 * the bulk of the page in the middle
 */
BODY>DIV#app {
	clear: both;
}

/*
 * and a footer (not actually in the new design -- do we need one?)
 */
FOOTER {
	clear: both;
}
