#frontpage h2 {
  border: none;
  background: transparent;
  margin: 0em;
  padding: 0em;
  padding-bottom: 0.2em;
}

#frontpage h3 {
  padding-bottom: 0.2em;
}

#frontpage .table_grid_layout {
  width: 100%;
}

#frontpage .table_grid_layout .table_grid_cell {
  vertical-align: top;
}

#frontpage .thin_col {
  float: right;
  width: 300px;
}
#frontpage .main_col {
  float: left;
  width: 660px;
}
#frontpage .horizontal_section {
  clear: both;
}



#frontpage .section_controls {
  text-align: right;
  font-style: italic;
  clear: left;
  float:right;
}


#frontpage .heading_sponsor {
  font-size: smaller;
  text-align: center;
}

#frontpage .advert_section {
  text-align: center;
}

#frontpage .frontpage_advert {
  /*max-width: 250px;*/
  max-height: 250px;
  max-width:  280px;
}


#frontpage .assignments_grid {
  width: 100%;
}


#frontpage .find_section li {
  list-style: circle;
  margin-left: 2em;
  padding-left: 1em;
}

/*----------------------------carousel Overrides------------------------------*/

#frontpage .frontpage_carousel_section {
  padding-top:    0em !important; /* the table contents of the coursel provide the border */
  padding-bottom: 0em !important;
}

#frontpage .carousel_title {
  position: absolute;
  padding-top: 0.5em;
}

#carousel li {
  margin-top: 2em;
}

/* overrides for carosel skin */
.yui-carousel-nav {
	background: transparent !important;
	position: absolute;
	left: 550px;
	z-index: 50;
}

.yui-carousel-element li {
	text-align: left;
	border: none;
}

.yui-carousel .yui-carousel-item-selected {border: none;}

/*----------------------------News Map Link-----------------------------------*/

.frontpage_news_map {
  float: right;
  width: 660px;
  height: 6em;
  background: white url('/design09/world_map_background.png') no-repeat;
  border: 1px solid #ebebeb;
  padding: 0.1em;
}

.frontpage_news_map p {
  background-color: #d9dde3;
  padding: 0.1em 0.75em;
  border: 1px solid black;
  float: left;
}




/*----------------------------Latest News (old frontpage, here because it's in frontpage controller -----------------------------------*/

#carousel_news h2 {display: none;}


#latest_news_list {
  width: 290px;
  float:left;
}
.carousel_container {
  float:left;
  width: 640px;
}


#latest_news h3 {
  font-size: large;
}

#latest_news .latest_by_cat_list_more_link {
  float: right;
  color: inherit;
  font-style: italic;
}
#latest_news .latest_by_cat_list_more_link:before {
  content: '...see more '
}