/*----------------------------------------------------------------------------*/
/*                              Additionals                                   */
/*----------------------------------------------------------------------------*/

/* One off's that are used around the site */

.upload_additional_file {
  display: inline;
  float: left;
}


#assignments_sidebar h2 {
  padding: 0em;
  border: none;
}
#assignments_sidebar h3 {
  padding-top: 1em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #777;
}
#assignments_sidebar a {color: inherit;}
.sidebar_more_link {
  color: #777;
  float: right;
  font-style: italic;
  padding: 1em;
}
.sidebar_more_link:before {content: '...see more '}




#instantnews_text {
  width: 99%;
}

.temp_message {
  padding: 1em;
}

.temp_message a {
  font-weight: bold;
}

.temp_border {border: 1px solid #ccc;}
.temp_border em {font-style: italic;}

/*
.copyright_symbol {
  font-size: medium;
  position: relative;
  top: -0.3em;
  left: -0.3em;
}
*/




/* I never thought it would come to this ...
  currently have issues with heading being "clear: both"
  the right col is floated and this pushs all content down, some sections (do a
  global search for this class use). hopefully this hack can be removed
*/
.clearboth_hack {
  clear: both;
}



/*-----------------------------------Rules------------------------------------*/

#rules {
  font-size: larger;
  padding: 0.5em;
  background-color: #798fa3;
  color: white;
}

#rules p {
  font-weight: bold;
}

#rules ul li {
  list-style: disc;
  margin-left: 2em;
}


/*-----------------------------Creative Commons------------------------------*/

#creative_commons_description {
  margin-right: 2em; /*the padding adds the the width, as a result the description overlaps the article text, if only divs kept to themselfs */
}

#creative_commons_description table, #creative_commons_description td, #creative_commons_description th {
  border: 1px solid #ccc;
  padding: 0.5em;
  font-size: smaller;
  vertical-align: top;
}
#creative_commons_description th {
  font-weight: bold;
  font-size: 110%;
  vertical-align: top;
  display: table-cell;
}

.creative_commons_licence_name {
  font-size: 85%;
}


/*----------------------------First View Popup------------------------------*/

#first_view_message .first_view_message_close {
	color: #f00;
	font-weight: bold;
	float: right;
}
#first_view_message strong {
	font-weight: bold;
}


/*---------------------------- Boom Button ------------------------------*/

.boom_this {
  width: 5em;
  background-color: #607ffb;
  border: 1px solid black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  padding: 0.25em;
}

.boom_this .boom_count {
  display: inline-block;
  min-width: 32px;
  min-height: 20px;
  background: transparent url('icons.png') no-repeat scroll 0 -325px;
  text-align: center;
  color: #888;
  font-weight: bold;
  padding-top: 3px;
}

/*-------------------- Old component compatability---------------------------*/

.width_25px {width: 25px;}
