/*----------------------------------------------------------------------------*/
/*                          Registration Pages                                */
/*----------------------------------------------------------------------------*/

#register .captcha_highlight {
  background-color: #a6bcca;
  color: #798fa3;
  padding: 0em 0.5em;
}

/* this is a copy of Design09.css form_field text style, this is because password boxs cannot have focus text */
#register .form_field_text_style {
	color: #798fa3;
	font-size: large;
	font-weight: bold;
}