
/*----------------------------------------------------------------------------*/
/*                    Reuseable Incliude List/Components                      */
/*----------------------------------------------------------------------------*/


/*---------------------------Article Large----------------------------------*/
.article_summary {
	width:600px;
	/* height: 180px;*/
}
.article_summary_preview_image {
	width: 280px;
}
.article_summary h3 {
	font-size: large;
	font-weight: normal;
	color: #233946;
	font-weight: bold;
  margin-top: 1em;
}
.article_summary_category {
	background-color: #233946;
	color: white;
	font-weight: bold;
	padding: 0.2em 0.5em;
}
.article_summary_content {
	line-height: 150%;
}
.article_summary_readmore {font-weight: bold;}
.article_summary_readmore:before {content:'..';}
.article_summary_readmore:after  {content:'..';}

.article_summary_location {
	font-size: large;
}

.article_summary_bottom {
	vertical-align: bottom;
	padding-bottom: 1em;
}

.article_summary .article_summary_reporter_image {
	float: left;
  max-width: 70px;
}

/*---------------------------Assignment Large---------------------------------*/

.assignment_large {
	width:600px;

}
.article_large_preview_image {
  width: 280px;
}
.assignment_large h3 {
  font-size: 110%;
}

.assignment_large a {
  color: inherit;
}

.assignment_large strong {
  font-weight: bold;
}

.assignment_large .reporter_thumbnail     {
  text-align: right;
  vertical-align: bottom;
  padding-bottom: 0.5em;
}
.assignment_large .reporter_thumbnail img {
  max-width: 70px;
}

.assignment_large .assignment_large_details {
  vertical-align: bottom;
  /*  because if the incidious hard drop shadopw on the images we need a fake bottom margin */
  padding-bottom: 1em;
}

/*--------------------Thumbnail Lists---------------------------*/
/* lists that contain just the thumnail and minimal text
  used mostly on the front page */


.thumbnail_list_row {
  font-size: small;
	vertical-align: top;
	border: 1px solid #CCC;
  background-color: white;
  color: #343168;
}

.thumbnail_list_row .thumbnail_list_title {
  color: #343168;
  font-weight: bold;
}

.thumbnail_list_row td {
  padding: 0.25em;
}

.thumbnail_list_row img {
  max-width: 70px;
}

.thumbnail_list_row .goto_link {vertical-align: bottom;}
.thumbnail_list_row .goto_link a {color: #999;}

/*--------------------Mini List (with images)---------------------------*/
.mini_list {
	clear: both;
	font-size: smaller;
  width: 100%;
}
.mini_list_row {
	vertical-align: top;
	border-bottom: 1px solid #CCC;
}

.mini_list_thumbnail {
  width: 0em;
}

.mini_list_title {
  /* font-weight: bold; */
  font-size: 110%;
}

.mini_list_flag {
	padding: 0.5em;
	vertical-align: middle;
  width: 8em;
  text-align: center;
}
.mini_list_extra {
	vertical-align: middle;
	width: 7em;
  font-size: xx-small;
}

.mini_list_reporter_thumb {
	vertical-align: middle;
  width: 0em;
}
.mini_list_reporter_name {
  vertical-align: middle;
  width: 5em;
}
/* .mini_list_details .mini_list_details_additional {clear: both;} */
.article_summary_mini .strong {font-weight: bold;}
.list_mini_img  {
	float: left;
	max-width: 50px;
}

.mini_stars {
  height:1em;
}

/*--------------------Medium Lists (with images)---------------------------*/
/* class names need tidying */

.assignment_list_with_images, .article_list_with_images {
	font-size: smaller;
	border-bottom: 1px solid #CCC;
}
.assignment_list_title  , .article_list_title   {font-weight: bold; font-size: 135%;}
.assignment_list_details, .article_list_details {font-weight: bold; vertical-align: top;}
.assignment_list_content, .article_list_content {font-weight: normal;}

.article_list_with_images	.article_list_reporter_details {
	width: 6em;
	padding: 0em 0.5em;
}

.article_list_with_images td, .assignment_list_with_images td {
  padding: 0.25em 0.25em;
}

.article_list_with_images strong, .assignment_list_with_images strong {
  font-weight: bold;
  font-size: 110%;
}

.list_with_images_actions {
	text-align: right;
}
/*
.assingment_list_with_images h3 {
	font-size: medium;
	text-decoration: underline;
}
*/




/*-------------------------Reporter thumbnails--------------------------------*/
.reporter_large {
}
.reporter_image {
	width: 100px;
}
.reporter_large strong {
	font-weight: bolder;
}

.reporter_mini_thumbnail {
  max-width: 30px;
}

/*-------------------Widget gadget Assignment breakdown-----------------------*/



/*--------------------------midium list overlay-------------------------------*/
.thumbnail_overlay            {position: absolute; z-index:2; width: 100px; height: 75px;}
.thumbnail_overlay_approved   {background: transparent url('/design09/misc_graphics.png') no-repeat scroll 0 -100px;}
.thumbnail_overlay_syndicated {background: transparent url('/design09/misc_graphics.png') no-repeat scroll 0 -178px;}
.thumbnail_overlay_syndicate  {background: transparent url('/design09/misc_graphics.png') no-repeat scroll 0 -255px;}
.thumbnail_overlay_pending    {background: transparent url('/design09/misc_graphics.png') no-repeat scroll 0 -255px;}
.thumbnail_overlay_cancelled  {background: transparent url('/design09/misc_graphics.png') no-repeat scroll 0 -322px;}

