.unit_b  {text-align:right;}

#header a, #footer a {color: inherit;}

/*----------------------------------------------------------------------------*/
/*                                  Header                                    */
/*----------------------------------------------------------------------------*/

#header {
  background-color: white;
  /* font-size: 110%; */
  border-bottom: 1px solid #ddd;
  color: #395271;
}

#header .mainLogo img {max-height: 2em;}

#header h1 {
  font-size: medium;
  padding-top: 0.5em;
  padding-left: 1em;
  margin-right: 0.5em;
  float: left;
}
#header h1 span {display: none;}


#header .username       {font-weight: bold;}
#header .username:after {content:' : ';}


#header .header_items li         {display: inline; font-size: small;}
#header .header_items li a       {padding: 0em 0.25em;}
#header .header_items li a:hover {background-color: #d9dde3;}
#header .header_items li:after   {content:' | ';}
#header .header_items .last_list_item:after {content:'';}

#header .links_by_title      {padding-top: 1em; font-size: 110%; font-weight: bold;}
#header .links_by_title li   {display: inline; }
#header .links_by_title li a       {padding: 0em 0.3em;}
#header .links_by_title li a:hover {background-color: #d9dde3; }

/* #header .links_by_title li a {color: inherit;} */

#header .unit_a {
  float:left;
  width: 50%;
}


#header .unit_b {
  float:right;
  padding-top: 1em;
  padding-right: 1em;
}



#header .login_message {
  font-style: italic;
  font-size: smaller;
  color: #F00;
  text-align: right;
}

#header .notifications {
  background-color: red;
  color: white;
  font-weight: bold;
}



/*----------------------------------------------------------------------------*/
/*                                Navigation                                  */
/*----------------------------------------------------------------------------*/

#navigation {
  border-bottom: 1px solid #ddd;
  /* height: 26px; */
  background: url('background_horizontal.png') repeat-x scroll 0 -0px;
  color: #808080;
  font-weight: bold;
  /* padding-top: 5px; */
  padding-right: 5px;
}

#navigation .navigation_items {
  padding-left: 1em;
  padding-top: 0.25em;
}

.navigation_side_graphic {
  width: 20px;
  height: 32px;
  background: url('misc_graphics.png') no-repeat scroll 0 -0px;
  position: absolute;
  
}

#navigation a {
  color: #6c7c91;
  text-decoration: underline;
}

#navigation li {
  display: inline;
  background: url('navigation_button_separator.png') right no-repeat;
  /* padding: 1em; */
  margin-left: 1em;
  padding-right: 1em;
}

#navigation .navigation_items ul {
  padding: 0.25em;
}

#navigation .search_submit {
  background: url('misc_graphics.png') no-repeat scroll 0 -50px;
  height: 22px;
  width: 22px;
  border: 1px solid #ccc;
  vertical-align: bottom;
  margin-left: 0em;
}
#navigation .search_input {
  color: #98a4b4;
  border: 1px solid #ccc;
  padding: 2px;
  font-size: small;
  height: 16px;
  width: 10em;
  margin-right: 0em;
}

/*----------------------------------------------------------------------------*/
/*                                  Footer                                    */
/*----------------------------------------------------------------------------*/

#footer {
  color: #395271;
  background-color: white;
  border-top: 1px solid #ccc;
  padding: 0.75em;
  padding-bottom: 0.25em;
  line-height: 1.5;
  /* margin-top: 0.5em; */
}


#footer li {
  display: inline;
}

#footer li a       {padding: 0em 0.25em;}
#footer li a:hover {background-color: #d9dde3;}
#footer li:after   {content:' | ';}
#footer .last_list_item:after {content:'';}


#footer .feedback_link {
  background-color: #d9dde3;
  font-weight: bold;
  font-size: small;
  padding: 0.2em 0.4em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

#footer .footer_feedback_icon {
  position: relative;
  top: -0.5em;

}

#footer .more_contacts {font-size: smaller;}
#footer .legal_list {font-size: smaller;}
#footer .copyright {font-size: smaller; color: black;}