/*----------------------------------------------------------------------------*/
/*                                 TipOffs                                    */
/*----------------------------------------------------------------------------*/

.tipoff_section .tipoff {
  clear: both;
  margin-bottom:  0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #CCC;
}

.tipoff_section .tipoff_preview {
  clear: both;
  font-size: smaller;
}

.tipoff_section .tipoff_preview strong {
  float: right;
  font-size: small;
  font-weight: bolder;
}

.tipoff_section .tipoff_ago {
  clear: right;
  float: right;
  font-size: smaller;
}


.tipoff_section .tipoff_text {
  font-size: small;
}

.tipoff_section .tipoff_details {
  font-weight: bold;
}

.tipoff_section .tipoff_actions {
  float: right;
}
