/*-------------------------------DOCUMENT-------------------------------------*/
html {background-color: #091b60;} /*ccc*/

#doc3 {margin: auto;} /* used to ensure YUI document fits screen to edge */
body {
  background: #233946;
}

a {
  color: #233946;
	text-decoration: none;
}
a:hover {text-decoration: none;}

/* Override for main.css color .... can be removed once migrated away form main.css */
a:link, a:active, a:visited {
  color: ininherit;
}

h1,h2,h3,h4 {
	font-weight: bolder;
	clear: left;
}
h1 {
	font-size: 150%;
}


h2 {
	font-size: 135%;
  font-weight: bold;
	margin-top: 0.1em;
	margin-bottom: 0.25em;
	padding:0.3em;
	color: #233946;
	border-bottom: 1px solid #777;
}



.hidden_by_default {
	/* be VERY careful with using this style, clients without javascrit enabled can NEVER make them visable */
	/* Use .hideable instead, .hideable is a dynamic CSS style that hides by default by javascript, if javascript can hide it then it can also reveal it, problem solved */
	display: none;
}

.error-message {
  color: red;
  font-weight: bold;
}

.tagline sup {
  font-size: 50%;
	vertical-align: text-top;
}


/*-----------------------------New YUI Template Type--------------------------*/
/* width 240 left */
.yui-t2x {
	margin: auto;
	text-align: left;
	width: 57.69em;
	*width: 56.25em;
}

.yui-t2x #yui-main {
	float: right;
	/* IE: preserve layout at narrow widths */
	margin-left: -25em;
}

.yui-t2x .yui-b {
	float: left;
	width: 18.4615em; 
	*width: 18em;
}

.yui-t2x #yui-main .yui-b {
	margin-left: 19.4615em;
	*margin-left: 18.975em;
}

/*----------------------------------------------------------------------------*/
/*                               Global Columns                               */
/*----------------------------------------------------------------------------*/


#col_center {
	padding: 0.5em;
}

#col_right {
	
}

#col_left {
	
}

#hd {}
#bd {
  background-color: white;
  padding: 0.5em;
}
#ft {}

/*----------------------------------------------------------------------------*/
/*                                  CLASS'S                                   */
/*----------------------------------------------------------------------------*/

/*--------Logos--------*/
.logo_small {
	float: right;
	max-width: 120px;
	/* background: url('Logo-Pulse.png'); backgrounds dont scale :( */
}

/*-------Bordered Sections--------*/
.page_bordered_section {
  margin: 6px 3px;
  border: 1px solid #b9b9b9;
  background-color: #f7f7f7;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
 

/*--------Buttons--------*/

.button_small {
  display: inline-block;
	height: 17px; /* specifying in px didnt work, YUI has changed the scale, 1px is not 1 pixel but width works? so hu?*/
	width: 102px;
	font-size: 9px; /*70%; */
	text-align: center;
	padding-top: 0.55em;
	cursor: pointer;
	border: 0 hidden;
	margin: 0.25em 0em;
}

.button_small_style_1 {
	/* color: #233946; inherited from body color */
	background: transparent url('button_template_small.png') no-repeat scroll 0 0px;
}

.button_small_style_2 {
	color: white !important; /*with old main.css this property does not work? may need to be taged as important to override*/
	background: transparent url('button_template_small.png') no-repeat scroll 0 -22px;
}

.button_small_style_3 {
  color: #04145a;
	background: transparent url('button_template_small.png') no-repeat scroll 0 -73px;
}

.button_small_style_tiny {
	width: 37px;
	background: transparent url('button_template_small.png') no-repeat scroll 0 -50px;
}

/* Because the form submit buttons anchor the image to the top left of the button (normally top left of the text)
   form submit buttons need corrected borders, annoyingly the text is ALWAYS in the center of the submit button, making text layout difficult*/
.button_small_form_submit_corrections {
	padding-top: 0em;
	height: 21px;
	color: #233946;
}

/* ToDo - Button hover states for rollovers - that would be cool!*/

/*
.button_tiny_ok     {content: 'Ok';}
.button_tiny_cancel {content: 'Cancel';}
*/


/*--------Icons--------*/

.icon {
	display: inline-block;
	height:  16px;
	padding-left: 1.5em;
}

.icon_twitter      {background: transparent url('icons.png') no-repeat scroll 0 -150px;}
.icon_facebook     {background: transparent url('icons.png') no-repeat scroll 0 -75px;}
.icon_rss          {background: transparent url('icons.png') no-repeat scroll 0 -0px;}
.icon_diggit       {background: transparent url('icons.png') no-repeat scroll 0 -50px;}
.icon_delicious    {background: transparent url('icons.png') no-repeat scroll 0 -25px;}
.icon_reddit       {background: transparent url('icons.png') no-repeat scroll 0 -100px;}
.icon_stumble_upon {background: transparent url('icons.png') no-repeat scroll 0 -125px;}
.icon_flikr        {background: transparent url('icons.png') no-repeat scroll 0 -200px;}

.icon_large {
	display: inline-block;
  min-width: 32px;
	/* this is to get text to align in middle, this wont work for all font sizes, better way? 
	position: relative; 
	top: 5px;*/
	height: 21px;
	/* padding-left: 3em; */
	vertical-align: text-bottom;
}

.icon_eyewitness  {background: transparent url('icons.png') no-repeat scroll 0 -300px;}
.icon_comment     {background: transparent url('icons.png') no-repeat scroll 0 -325px;}
.icon_topicupdate {background: transparent url('icons.png') no-repeat scroll 0 -350px;}
.icon_email       {background: transparent url('icons.png') no-repeat scroll 0 -378px;}
.icon_locked      {background: transparent url('icons.png') no-repeat scroll 0 -400px;}
.icon_photo       {background: transparent url('icons.png') no-repeat scroll 0 -425px;}
.icon_video       {background: transparent url('icons.png') no-repeat scroll 0 -448px;}
.icon_home        {background: transparent url('icons.png') no-repeat scroll 0 -470px;}

.icon_32x32 {
	display: inline-block;
  width:  32px;
  height: 32px;
  vertical-align: text-bottom;
}

.icon_tick        {background: transparent url('icons.png') no-repeat scroll 0 -500px;}
.icon_time        {background: transparent url('icons.png') no-repeat scroll 0 -532px;}

.icon span, .icon_large span {display: none;}

/*--------Tooltip Popup--------*/
/* example <div class="tooltip tooltip_icon"><span>DUDE!!</span></div> */
.tooltip {
  position:relative;
  /* z-index:24; */
  /* background-color:#ccc;
  color:#000;
  text-decoration:none */
}
.tooltip span       {display: none}
.tooltip:hover      {} /*z-index:25; background-color:#ff0*/
.tooltip:hover span { /*the span will display just on :hover state*/
  padding: 1em;
  display:block;
  position:absolute;
  left:8px; top:8px; width:20em;
  border: 1px solid white;
  background: url('background_transparent_dark.png');
  color:white;
  z-index: 10;
  font-weight: normal;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  font-size: 90%;
}
.tooltip_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url('icons.png') no-repeat scroll 0 -270px;
  vertical-align: top;
}

.tooltip:hover span p {margin: 1em 0em;}
.tooltip:hover span ol li {list-style: decimal; margin-left: 2em;}




/*--------Backgrounds--------*/

.background_gradient_dark {
  background: #3860a4 url('background_gradient_dark.png') repeat-x scroll 0 -0px;
  color: white;
}

/*-------Lists--------*/
.bulleted_list {
  margin-left:   2em;
  margin-top:    0.4em;
  margin-bottom: 0.4em;
}
.bulleted_list li {
  list-style-type: disc;
}

/*------------------------------- Headings -----------------------------------*/





/*----------------------------------------------------------------------------*/
/*                           Specific Components                              */
/*----------------------------------------------------------------------------*/

/*----------------------------Flash Message-----------------------------------*/

#flash_message {
	background: #ffc;
	padding: 0.5em;
	border: 1px solid #cfc;
	overflow: hidden;
}

/*----------------------Popup (fixed transparent background)------------------*/

.popup {
  max-width: 600px;
	min-width: 300px;
	background: url('background_transparent_dark.png');
	border: 3px solid #233946;
	z-index: 51;
	color: white;
	padding: 2em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

.popup_close_button {
	background: #798fa3 url('icons.png') no-repeat scroll 0 -180px;
	width:  16px;
	height: 16px;
	float: right;
	position: relative;
	margin-top: -20px;
	margin-right: -20px;
}

.popup h2 {
	color: white;
	background-color: transparent;
}

.popup a {
	color: #dde4ea;
}

/*------------------------------Pulse Branding--------------------------------*/

.ordanisation_branding_image {
	max-width: 100%;
	margin: 1em 0em;
}


/*------------------------------YUI Tabs--------------------------------------*/

/* core css selectors copyed from YUI border_tabs.css.
   There is more needed for tabs left,right and bottom but im keeping with the minimal top tabs
*/

/* label and content borders
  .yui-navset .yui-nav li a */

.yui-nav {
	text-align: right;
}

.yui-navset .yui-content {
    border:1px solid black;
}

.yui-navset .yui-nav .selected a, .yui-navset .yui-nav a:hover, .yui-navset .yui-content {
    /* background-color:#f00; /* active tab, tab hover, and content bgcolor */
}

/* tab */
.yui-navset .yui-nav li {
	width: 102px;
	/* height: 20px; */
	padding:.2em;
	/* border:1px solid black; */
	background: transparent url('button_template_small.png') no-repeat scroll 0 -100px;
	text-align: center;
	font-size: smaller;
	border-bottom: 1px solid #b1b2c4;
}

/* Selected tab */
/* defaults to orientation "top" */
.yui-navset .yui-nav .selected {
    border-bottom-width: 0; /* no bottom border for active tab */
    padding-bottom: 0.6em;
		/* background-color: white; */
		background: transparent url('button_template_small.png') no-repeat scroll 0 -150px;
}

.yui-navset .yui-content {
    margin-top:-1px; /* for active tab overlap */
		border: 1px solid #b1b2c4;
		background-color: white;
}
